.fb_iframe_widget {
	bottom: 2px;
}

.landing_page{
	font-family: 'PlutoSansCondRegular', Arial, sans-serif;
	background-color:#0B1B24;
	.about{
		display:block;
		width:1.875em;
		height:1.875em;
		background:url('../images/icons/info.png') no-repeat;
		position:absolute;
		top:1.875em;
		right:1.875em;
		z-index:6;
	}

	video{
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-640px;
		margin-top:-360px;
	}

	#lang, footer, .about{
		display: none;
	}

	#lang{
		width:350px;
		height:130px;
		position:absolute;
		top:85%;
		left:50%;
		margin-left:-175px;
		margin-top:-65px;
		text-transform:uppercase;
	}

	#lang p{
		font-size:1.375em;
		padding:0;
		margin:20px auto 10px auto;
	}

	#lang-choice{
		margin:0 auto;
		width:150px;
	}

	#lang a{
		display:inline-block;
		border:2px solid #FFF;
		color:#FFF;
		font-size:1.188em;
		text-decoration:none;
		margin:11px;
	}

	#lang a:nth-of-type(1){
		padding:12px 10px;
	}

	#lang a:nth-of-type(2){
		padding:12px 9px;
	}

	#lang a:hover{
		background-color:rgba(255,255,255,0.3);
	}	


	footer{
		position:absolute;
		bottom:0;
		width:100%;
		height:40px;
	}

	.twitter-share-button{
		margin-left:20px;
	}

	#social_media a{
		display:inline-block;
		margin:0px 4px 0px 4px;
		width:30px;
		height:30px;
		background-size:100% 100%;
		transition: all 0.8s;
		-moz-transition: all 0.8s;
		-webkit-transition: all 0.8s;
		-o-transition: all 0.8s;
		
	}

	.twitter{
		background:url('../images/twitter_icon.svg') no-repeat;
	}

	.contact{
		background:url('../images/contact_icon.svg') no-repeat;
	}

	.twitter:hover, .contact:hover{
		-webkit-transform:rotate(360deg);
	    -moz-transform:rotate(360deg);
	    -o-transform:rotate(360deg);
	}

	#social_media{
		position:absolute;
		bottom:20px;
		right:16px;
		height:30px;
	}
} 