/* Imports */
@import 'reset';
@import 'fonts';

/* Mixins */
@mixin background($imgpath, $position:0 0, $size: auto auto, $repeat: no-repeat){
	background: {
		image: image-url($imgpath);
		position: $position;
		repeat: $repeat;
		size: $size;
	}
}

/* Variables */
$main-font-color : #FFF;


/* Styles */
.uppercase{
	text-transform: uppercase;
}
html{
	height: 100%;
	body{
		overflow: auto;
		height: 100%;
		color: $main-font-color;
		@include background('background.jpg', center center, 100% 100%);
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		#main{
			height: 100%;
			overflow: hidden;
			header{
				h2, h3{
					width: 100%;
					text-align: center;
					font-family: 'PlutoSansCondMedium', Arial, sans-serif;
				}
				h2{
					padding-top: .5em;
					text-transform: uppercase;
					font-size : 3.125em;
				}
				h3{
					padding-top: .2em;
					font-size : 1.125em;
				}
			}
			section{
				width: 100%;
				height: 100%;
			}
			.landing_page{
				@include background('background_landing.jpg', center center, auto);
				h2{
					position : absolute;
					top: 50%;
					margin-top: -.5em;
					width: 100%;
					line-height: 100%;
					text-align: center;
					font-family: 'MohaveRegular', Arial, sans-serif;
					font-size : 4em;
					span {
						font-family: 'MohaveBold', Arial, sans-serif;
					}
				}
				.solar_system{
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: 195px;
					margin-top: 312px;
					padding-top: 2em;
					@include background('solarsystem-location-arrow.png', top left);
					span{
						float: left;
						width: .65em;
						height: .65em;
						margin-top: 1em;
						border-radius: 50%;
						background: #FFF;
						cursor: pointer;
						animation: glitter 1.5s linear 0s infinite normal;
						-webkit-animation: glitter 1.5s linear 0s infinite normal;
						-moz-animation: glitter 1.5s linear 0s infinite normal;
						-ms-animation: glitter 1.5s linear 0s infinite normal;
						-o-animation: glitter 1.5s linear 0s infinite normal;
					}
					p{
						float: right;
						margin-left: 4.5em; 
						font-family: 'PacificoRegular', Arial, sans-serif;
						font-size: 14px;
					}
				}
			}
			.solar_system{
				.solar_system_orbits{
					svg{
						display: block;
						margin: 1em auto 0 auto;
					}
				}
				.left_sidebar{
					position: absolute;
					top:50%;
					left: 0;
					margin-top: -10.688em;
					padding-left: 1.5em;
					div+div{
						border-top: 2px solid #FFF;
					}
					p{
						font-family: 'PlutoSansCondLight', Arial, sans-serif;
						font-size: 0.875em;
						color: #FFF;
					}
					.blue span{
						color: #addee0;
					}
					.value{
						margin: .650em 0;
						.number{
							font-family: 'MohaveBold', Arial, sans-serif;
							font-size: 2.625em;
							letter-spacing : .05em;
						}
						.number+span{
							margin-left: .5em;
						}
					}
					.value.uppercase{
						font-family: 'MohaveRegular', Arial, sans-serif;
						font-size: 1.625em;
						.number{
							font-size: 1.615em;
						}
					}
					ul.vehicules{
						margin: 1.25em 0;
						li{
							display: inline-block;
							margin-right: .5em;
							a{
								display: block;
								width: 2.313em;
								height: 2.313em;
							}
							.spacecraft{
								@include background('icons/spacecraft.svg', center center, 100% 100%);
							}
							.aircraft{
								@include background('icons/aircraft.svg', center center, 100% 100%);
							}
							.paper-plane{
								@include background('icons/paper-plane.svg', center center, 100% 100%);
							}
						}
					}
				}
				.right_sidebar{
					position: absolute;
					top:50%;
					right: 0;
					margin-top: -15em;
					ul{
						padding: 2.500em 0.938em;
						background: #19262c;
						li{
							position: relative;
							display: block;
							margin: 0.719em 0;
							a{
								display: block;
								color: #FFF;
								font-family: 'PlutoSansCondBold', Arial, sans-serif;
								text-transform: uppercase;
								text-decoration: none;
							}
							a.icon{
								width: 2.313em;
								height: 2.313em;
							}
							a.name{
								position: absolute;
								right: 6.5em;
								line-height: 4.02600em;
								height: 3.82600em;
								vertical-align: middle;
								font-size: 0.625em;
								text-align: right;
							}
						}
						li:hover{
							a{
								color: #8f8f8f;
							}
						}
						li.mercury{
							.icon{
								@include background('planets/mercury.svg', center center, 100% 100%);
							}
						}
						li.venus{
							.icon{
								@include background('planets/venus.svg', center center, 100% 100%);
							}
						}
						li.earth{
							.icon{
								@include background('planets/earth.svg', center center, 100% 100%);
							}
						}
						li.mars{
							.icon{
								@include background('planets/mars.svg', center center, 100% 100%);
							}
						}
						li.jupiter{
							.icon{
								@include background('planets/jupiter.svg', center center, 100% 100%);
							}
						}
						li.saturn{
							.icon{
								@include background('planets/saturn.svg', center center, 100% 100%);
							}
						}
						li.uranus{
							.icon{
								@include background('planets/uranus.svg', center center, 100% 100%);
							}
						}
						li.neptune{
							.icon{
								@include background('planets/neptune.svg', center center, 100% 100%);
							}
						}
						li.compare{
							.icon{
								@include background('planets/compare.svg', center center, 100% 100%);
							}
						}
					}
				}
				footer{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100px;
					.distance_scales{
						position: relative;
						width: 100%;
						div{
							position: absolute;
							width: 100%;
							text-align: center;
							z-index: 3;
							p{
								display: inline-block;
								line-height: 1.875em;
								vertical-align: middle;
								text-align: center;
								font-family: 'PlutoSansCondLight', Arial, sans-serif;
								font-size: 0.925em;
							}
							a{
								display: inline-block;
								width: 1.875em;
								height: 1.875em;
								margin-left: 1em;
								vertical-align: middle;
								border-radius: 50%;
								@include background('./icons/learn-more.png', center center, 100% 100%);
								cursor: pointer;
							}
						}
						div.svg{
							z-index: 2;
						}
						svg{
							display: block;
							margin: 0 auto 0 auto;
						}
					}
				}
			}
			.boarding_pass{
				opacity: 0;
				position: fixed;
				top: 0; right: 0; left: 0;
				height: 0;
				z-index: 4;
				@include background('background.jpg', center center, 100% 100%);
				-webkit-transition: opacity 0.3s ease-in;
				-moz-transition: opacity 0.3s ease-in;
				transition: opacity 0.3s ease-in;
				div.modal{
					visibility: hidden;
					position: absolute;
					width: 18.750em;
					top: 50%; 
					left: 50%;
					/*margin-top: -14.219em;
					margin-left: -9.375em;*/
					color: #343131;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					backface-visibility: hidden;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					-webkit-perspective: 1300px;
					-moz-perspective: 1300px;
					perspective: 1300px;
					div.content{
						height: 100%;
						background: #f3f0ed;
						border-radius: 0.250em;
						-webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 1);
						-moz-box-shadow:    0px 6px 24px 0px rgba(0, 0, 0, 1);
						box-shadow:         0px 6px 24px 0px rgba(0, 0, 0, 1);
						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						transform-style: preserve-3d;
						-webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
						-moz-transform: translate(30%) translateZ(600px) rotate(10deg);
						-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
						transform: translate(30%) translateZ(600px) rotate(10deg);
						opacity: 0;
						> p:first-child{
							line-height: 4.375em;
							vertical-align: middle;
							text-align: center;
							font-family: 'PlutoSansCondBold', Arial, sans-serif;
							font-size: 0.875em;
							text-transform: uppercase;
						}
						.label{
							line-height: 2.500em;
							vertical-align: middle;
							text-align: center;
							background:#242424;
							font-family: 'MohaveBold', Arial, sans-serif;
							font-size: 1.500em;
							color: #f3f0ed;
							span{
								display: inline-block;
							}
							.icon{
								width: 0.833em;
								height: 0.833em;
								margin: 0 0.833em;
								color: #343131;
								@include background('./icons/spacecraft_boarding_pass.png', center center, 100% 100%);
							}
						}
						.infos{
							margin-top: 1.563em;
							vertical-align: middle;
							text-align: center;
							div{
								display: inline-block;
								padding: 0 0.750em;
								text-align: left;
								.title{
									font-family: 'PlutoSansCondBold', Arial, sans-serif;
									font-size: 0.875em;
									text-transform: uppercase;
								}
								input{
									display: inline-block;
									width: 1em;
									font-family: 'MohaveBold', Arial, sans-serif;
									font-size: 2.313em;
									color: #242424;
									::-webkit-input-placeholder {color: #d6d3d1;}
									:-ms-input-placeholder {color: #d6d3d1;}
									:-moz-placeholder {
									    color:    #d6d3d1;
									    opacity:  1;
									}
									::-moz-placeholder {
									    color:    #d6d3d1;
									    opacity:  1;
									}
									text-align: right;
									border:none;
									background: transparent;
								}
								input[name="weight"]{
									width: 1.5em;
								}
								.unit{
									display: inline-block;
									font-family: 'MohaveBold', Arial, sans-serif;
									font-size: 1.063em;
									text-transform: uppercase;
								}
							}
							div+div{
								border-left: 1px solid #d6d3d1;
							}
						}
						.transportation{
							margin: 1.875em auto;
							text-align: center;
							input[type="radio"]{
								display: none;
							}
							label{
								display: inline-block;
								width: 1.250em;
								height: 1.250em;
								margin: 0 0.688em;
								cursor: pointer;
							}
							#aircraft{
								+ label{
									@include background('./icons/spacecraft_boarding_pass.png', center center, 100% 100%);
								}
							}
							#aircraft:checked{
								+ label{
									@include background('./icons/spacecraft_boarding_pass_on.png', center center, 100% 100%);
								}
							}
							#spacecraft{
								+ label{
									@include background('./icons/spacecraft_boarding_pass.png', center center, 100% 100%);
								}
							}
							#spacecraft:checked{
								+ label{
									@include background('./icons/spacecraft_boarding_pass_on.png', center center, 100% 100%);
								}
							}
							#paper-plane{
								+ label{
									@include background('./icons/spacecraft_boarding_pass.png', center center, 100% 100%);
								}
							}
							#paper-plane:checked{
								+ label{
									@include background('./icons/spacecraft_boarding_pass_on.png', center center, 100% 100%);
								}
							}
						}
						a{
							display: block;
							width: 62%;
							margin: 0 auto;
							line-height: 2.500em;
							vertical-align: middle;
							border: 2px solid #242424;
							font-family: 'PlutoSansCondBold', Arial, sans-serif;
							font-size: 0.875em;
							color: #242424;
							text-align: center;
							text-decoration: none;
							text-transform: uppercase;
						}
						a:hover{
							background: #242424;
							color: #f3f0ed;
							-webkit-transition: all .5s ease;
							-moz-transition: all .5s ease;
							-o-transition: all .5s ease;
							transition: all .5s ease;
						}
						.barcode{
							width: 53.3333333%;
							height: 3.625em;
							margin: 1.875em auto;
							@include background('codebar.png', center center, 100% 100%);
						}
					}
				}
			}
			.boarding_pass.on{
				height: 100%;
				opacity: 1;
				.modal{
					visibility: visible;
					.content{
						-webkit-transition: all 0.3s ease-in 0.1s;
						-moz-transition: all 0.3s ease-in 0.1s;
						transition: all 0.3s ease-in 0.1s;
						-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
						-moz-transform: translate(0%) translateZ(0) rotate(0deg);
						-ms-transform: translate(0%) translateZ(0) rotate(0deg);
						transform: translate(0%) translateZ(0) rotate(0deg);
						opacity: 1;
						perspective: 1300px;
					}
				}
			}
			.distances_graph{
				h3{
					max-width: 30em;
					margin: .8em auto 0 auto;
					font-size : 1.125em;
				}
				.distances_comparison{
					.svg{
						svg{
							display: block;
							margin: 1em auto 0 auto;
							.planet_name{
								font-family: 'PlutoSansCondLight', Arial, sans-serif;
								text-transform: uppercase;
							}
						}
					}
				}
				.legend{
					margin: 2.188em auto;
					text-align: center;
					p, span, img{
						display: inline-block;
						vertical-align: middle;
						font-family: 'PlutoSansCondLight', Arial, sans-serif;
						font-size: 1.125em;
					}
					p:first-child{
						font-family: 'PlutoSansCondMedium', Arial, sans-serif;
					}
					span.arrow{
						width: 5.625em;
						height: 1.375em;
						@include background('./icons/ua-arrow.png', center center, auto auto, repeat-x);
					}
					.sun{
						width: 1.313em;
						height: 1.313em;
					}
					.earth{
						width: 0.813em;
						height: 0.813em;
					}
				}
				.planet_infos{
					margin: 3.750em auto 0 auto;
					text-align: center;
					p{
						font-family: 'PlutoSansCondLight', Arial, sans-serif;
						font-size: 1.125em;
						.ua_distance{
							font-family: 'MohaveBold', Arial, sans-serif;
						}
					}
					p+p{
						margin-top: .863em;
						text-transform: uppercase;
						font-family: 'MohaveRegular', Arial, sans-serif;
						font-size: 1.625em;
						.km_distance{
							font-family: 'MohaveBold', Arial, sans-serif;
							font-size: 1.615em;
						}
					}
				}
			}
			.compare_graph{
				.graph{
					.svg{
						svg{
							text{
								font-family: 'PlutoSansCondMedium', Arial, sans-serif;
							}
							.comparator_container{
								cursor : pointer;
							}
						}
					}
				}
			}
			.planet{
				h2, h3, h4{
					width: 100%;
					text-align: center;
					font-family: 'PlutoSansCondMedium', Arial, sans-serif;
				}
				h2{
					margin-top: .5em;
					text-transform: uppercase;
					font-size : 4em;
				}
				h3{
					text-align: left;
					margin-top: .5em;
					text-transform: uppercase;
					font-size : 2em;
					border-bottom: 3px solid rgba(255,255,255, 0.1);
					display: block;
				}
				h4{
					margin-top: .2em;
					font-size : 1.125em;

				}
				svg{
					display: block;
					//margin: 1em auto 0 auto;
				}
				.content-planet {
					position: absolute;
					left: 50%;
					width: 1100px;
					margin-left: -550px;
					margin-top: 4em;
					.top-content{
						width: 1020px;
						margin-left: 24px;
						background: rgba(255,255,255, 0.1);
						text-align: center;
						padding: 2em 1em 2em 1em ;
						div{
							width: 336px;
							display: inline-block;	
						}
						p{
							font-family: 'PlutoSansCondLight', Arial, sans-serif;
							font-size: 0.875em;
							color: #FFF;
						}
						.value{
							margin: .650em 0;
							.number{
								font-family: 'MohaveBold', Arial, sans-serif;
								font-size: 2.625em;
								letter-spacing : .05em;
							}
							.number+span{
								margin-left: .5em;
							}
						}
						.value.uppercase{
							font-family: 'MohaveRegular', Arial, sans-serif;
							font-size: 1.625em;
							.number{
								font-size: 1.615em;
							}
						}
					}
					.bottom-content{
						
						left: 14%;
						padding: 3em 1em 3em 1em ;
						div{
							width: 333px;
							height: 333px;
							display: inline-block;
							//padding-right: 5px;
							//padding-left: 7px;
						}
						.bottom-content-block{
							width: 333px;
							height: 333px;
							display: inline-block;
							margin-left: 10px;
							margin-right: 10px;
						}

						.area {
							svg {
								margin-top : 50px;
							}
							.area-graph rect {
								fill: steelblue;
							}
						}

						p{
							font-family: 'PlutoSansCondLight', Arial, sans-serif;
							font-size: 0.875em;
							color: #FFF;
						}

						div p{
							text-align: center;
						}
						.value{
							margin: .650em 0;
							.number{
								font-family: 'MohaveBold', Arial, sans-serif;
								font-size: 2.625em;
								letter-spacing : .05em;
							}
							.number+span{
								margin-left: .5em;
							}
						}
						.value.uppercase{
							font-family: 'MohaveRegular', Arial, sans-serif;
							font-size: 1.625em;
							.number{
								font-size: 1.615em;
							}
						}
					}
				}
				


				.right_sidebar{
					position: absolute;
					top:50%;
					right: 0;
					margin-top: -15em;
					ul{
						padding: 2.500em 0.938em;
						background: #19262c;
						li{
							position: relative;
							display: block;
							margin: 0.719em 0;
							a{
								display: block;
								color: #FFF;
								font-family: 'PlutoSansCondBold', Arial, sans-serif;
								text-transform: uppercase;
								text-decoration: none;
							}
							a.icon{
								width: 2.313em;
								height: 2.313em;
							}
							a.name{
								position: absolute;
								right: 6.5em;
								line-height: 4.02600em;
								height: 3.82600em;
								vertical-align: middle;
								font-size: 0.625em;
								text-align: right;
							}
						}
						li:hover{
							a{
								color: #8f8f8f;
							}
						}
						li.mercury{
							.icon{
								@include background('planets/mercury.svg', center center, 100% 100%);
							}
						}
						li.venus{
							.icon{
								@include background('planets/venus.svg', center center, 100% 100%);
							}
						}
						li.earth{
							.icon{
								@include background('planets/earth.svg', center center, 100% 100%);
							}
						}
						li.mars{
							.icon{
								@include background('planets/mars.svg', center center, 100% 100%);
							}
						}
						li.jupiter{
							.icon{
								@include background('planets/jupiter.svg', center center, 100% 100%);
							}
						}
						li.saturn{
							.icon{
								@include background('planets/saturn.svg', center center, 100% 100%);
							}
						}
						li.uranus{
							.icon{
								@include background('planets/uranus.svg', center center, 100% 100%);
							}
						}
						li.neptune{
							.icon{
								@include background('planets/neptune.svg', center center, 100% 100%);
							}
						}
						li.compare{
							.icon{
								@include background('planets/compare.svg', center center, 100% 100%);
							}
						}
					}
				}
			}
		}
	}
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	html body #main .boarding_pass div.modal .barcode{
		@include background('codebar@2x.png', center center, 100% 100%);
	}
}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@-moz-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@-o-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}