/* Imports */
@import 'reset';
@import 'fonts';

/* Mixins */
@mixin background($imgpath, $position:0 0, $size: auto auto, $repeat: no-repeat){
	background: {
		image: image-url($imgpath);
		position: $position;
		repeat: $repeat;
		size: $size;
	}
}

/* Variables */
$main-font-color : #FFF;


/* Styles */
.uppercase{
	text-transform: uppercase;
}
html{
	height: 100%;
	body{
		overflow: hidden;
		height: 100%;
		color: $main-font-color;
		@include background('background.jpg', center center, 100% 100%);
		background-color: #0b1b24;
		-webkit-font-smoothing: antialiased;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		#main{
			height: 100%;
			overflow: hidden;
			header{
				h2, h3{
					width: 100%;
					text-align: center;
					font-family: 'PlutoSansCondMedium', Arial, sans-serif;
				}
				h2{
					padding-top: .5em;
					text-transform: uppercase;
					font-size : 3.125em;
				}
				h3{
					padding-top: .2em;
					font-size : 1.125em;
				}
				
			}
			section{
				width: 100%;
				height: 100%;
			}
			.close{
				position: absolute;
				z-index: 8;
				top: 1.875em;
				right: 1.875em;
				width: 1.250em;
				height: 1.250em;
				@include background('icons/close.svg', center center, 100% 100%);
			}
			.error {
				position: absolute;
				width: 900px;
				height: 550px;

				left : 50%;
				top : 50%;

				margin-top: -225px;
				margin-left: -450px;

				text-align: center;
				
				.asteroid {
					position: absolute;
					top: 30%;
					left : 50%;
					height: 234px;
					width:  234px;
					margin-top: -117px;
					margin-left: -117px;
					@include background('404/asteroid.svg', center center, 100% 100%);
				}

				.spacecraft {
					height: 31px;
					width:  20px;
					transform:rotate(-30deg);
					-ms-transform:rotate(-30deg); 
					-webkit-transform:rotate(-30deg); 
					@include background('404/spacecraft.svg', center center, 100% 100%);
					margin-top: 85px;
					margin-left: 318px;
				    position: absolute;
				    
				    animation-name: bobbingAnim;
				    animation-duration: 4s;
				    animation-play-state: running;
				    -webkit-animation-name: bobbingAnim;
				    -webkit-animation-duration: 4s;
				    -webkit-animation-play-state: running;
				}
			}

			.solar_system{
				.solar_system_orbits{
					position: relative;
					svg{
						display: block;
						margin: 1em auto 0 auto;
					}
					.planet_infos{
						opacity: 0;
						position: absolute;
						background: rgba(255, 255, 255, 0.05);
						width: 150px;
						height: 130px;
						padding: 5px;
						-webkit-transition: opacity 0.15s ease-in;
						-moz-transition: opacity 0.15s ease-in;
						transition: opacity 0.15s ease-in;
						p{
							font-family: 'PlutoSansCondRegular', Arial, sans-serif;
							text-transform: uppercase;
						}
						.planet_name{
							display: block;
							font-family: 'PlutoSansCondBold', Arial, sans-serif;
							font-size: 1.375em;
							padding: 0.325em 0;
							border-bottom: 2px solid #FFF;
							margin-bottom: 0.325em;
						}
						.rotation_speed{
							margin-bottom: 0.325em;
						}
						.rotation_speed_value{
							margin-bottom: 0.325em;
						}
						.rotation_speed_value, .rotation_speed_duration{
							font-family: 'PlutoSansCondRegular', Arial, sans-serif;
							font-size: 1em;
							span{
								font-family: 'MohaveBold', Arial, sans-serif;
								font-size: 1.250em;
							}
						}
					}
					.planet_infos.on{
						opacity: 1;
					}
				}
				.left_sidebar{
					position: absolute;
					z-index: 5;
					top:50%;
					left: 0;
					margin-top: -10.688em;
					padding-left: 1.5em;
					div+div{
						border-top: 2px solid #FFF;
					}
					p{
						font-family: 'PlutoSansCondRegular', Arial, sans-serif;
						font-size: 0.875em;
						color: #FFF;
					}
					.blue span{
						color: #addee0;
					}
					.value{
						margin: .650em 0;
						.number{
							font-family: 'MohaveBold', Arial, sans-serif;
							font-size: 2.625em;
							letter-spacing : .05em;
						}
						.number+span{
							margin-left: .5em;
						}
					}
					.value.uppercase{
						font-family: 'MohaveRegular', Arial, sans-serif;
						font-size: 1.625em;
						.number{
							font-size: 1.615em;
						}
					}
					ul.vehicules{
						margin: 1.25em 0;
						li{
							display: inline-block;
							margin-right: .5em;
							input[type="radio"]{
								display: none;
							}
							label{
								display: block;
								width: 2.313em;
								height: 2.313em;
								cursor: pointer;
							}
							#v_spacecraft1+label{
								@include background('./icons/spaceship2.svg', center center, 100% 100%);
							}
							#v_spacecraft1:checked+label, #v_spacecraft1+label:hover{
								@include background('./icons/hover-spaceship2.svg', center center, 100% 100%);
							}
							#v_spacecraft2+label{
								@include background('./icons/voyager2.svg', center center, 100% 100%);
							}
							#v_spacecraft2:checked+label, #v_spacecraft2+label:hover{
								@include background('./icons/hover-voyager2.svg', center center, 100% 100%);
							}
							#v_spacecraft3+label{
								@include background('./icons/solarprobe.svg', center center, 100% 100%);
							}
							#v_spacecraft3:checked+label, #v_spacecraft3+label:hover{
								@include background('./icons/hover-solarprobe.svg', center center, 100% 100%);
							}
						}
					}
				}
				.right_sidebar{
					position: absolute;
					z-index: 5;
					top:50%;
					right: 0;
					margin-top: -15em;
					ul{
						padding: 2.500em 0.938em;
						background: #19262c;
						li{
							position: relative;
							display: block;
							margin: 0.719em 0;
							a{
								display: block;
								color: #FFF;
								font-family: 'PlutoSansCondBold', Arial, sans-serif;
								text-transform: uppercase;
								text-decoration: none;
							}
							a.icon{
								width: 2.313em;
								height: 2.313em;
							}
							a.name{
								position: absolute;
								right: 6.5em;
								line-height: 4.02600em;
								height: 3.82600em;
								vertical-align: middle;
								font-size: 0.625em;
								text-align: right;
								white-space: nowrap;
							}
						}
						li:hover{
							a{
								color: #8f8f8f;
							}
						}
						li.mercury{
							.icon{
								@include background('planets/mercury.svg', center center, 100% 100%);
							}
						}
						li.venus{
							.icon{
								@include background('planets/venus.svg', center center, 100% 100%);
							}
						}
						li.earth{
							.icon{
								@include background('planets/earth.svg', center center, 100% 100%);
							}
						}
						li.mars{
							.icon{
								@include background('planets/mars.svg', center center, 100% 100%);
							}
						}
						li.jupiter{
							.icon{
								@include background('planets/jupiter.svg', center center, 100% 100%);
							}
						}
						li.saturn{
							.icon{
								@include background('planets/saturn.svg', center center, 100% 100%);
							}
						}
						li.uranus{
							.icon{
								@include background('planets/uranus.svg', center center, 100% 100%);
							}
						}
						li.neptune{
							.icon{
								@include background('planets/neptune.svg', center center, 100% 100%);
							}
						}
						li.compare{
							.icon{
								@include background('planets/compare.svg', center center, 100% 100%);
							}
						}
					}
				}
				footer{
					position: absolute;
					bottom: 0;
					width: 100%;
					height: 100px;
					.distance_scales{
						position: relative;
						width: 100%;
						div{
							position: absolute;
							width: 100%;
							text-align: center;
							z-index: 3;
							p{
								display: inline-block;
								line-height: 1.875em;
								vertical-align: middle;
								text-align: center;
								font-family: 'PlutoSansCondRegular', Arial, sans-serif;
								font-size: 0.925em;
							}
							a{
								display: inline-block;
								width: 1.875em;
								height: 1.875em;
								margin-left: 1em;
								vertical-align: middle;
								border-radius: 50%;
								@include background('./icons/learn-more.png', center center, 100% 100%);
								cursor: pointer;
							}
						}
						div.svg{
							z-index: 2;
						}
						svg{
							display: block;
							margin: 0 auto 0 auto;
						}
					}
				}
			}
			.boarding_pass{
				opacity: 0;
				position: fixed;
				top: 0; right: 0; left: 0;
				height: 0;
				z-index: 6;
				@include background('background.jpg', center center, 100% 100%);
				-webkit-transition: opacity 0.3s ease-in;
				-moz-transition: opacity 0.3s ease-in;
				transition: opacity 0.3s ease-in;
				p.instructions{
					position: absolute;
					width: 100%;
					top: 50%; 
					margin-top: -21em;
					color: #FFF;
					font-family: 'PlutoSansCondBold', Arial, sans-serif;
					font-size: 0.875em;
					letter-spacing: .1em;
					text-align: center;
				}
				div.modal{
					visibility: hidden;
					position: absolute;
					width: 18.750em;
					top: 50%; 
					left: 50%;
					/*margin-top: -14.219em;
					margin-left: -9.375em;*/
					color: #343131;
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					backface-visibility: hidden;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					-webkit-perspective: 1300px;
					-moz-perspective: 1300px;
					perspective: 1300px;
					form.content{
						height: 100%;
						background: #f3f0ed;
						border-radius: 0.250em;
						-webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 1);
						-moz-box-shadow:    0px 6px 24px 0px rgba(0, 0, 0, 1);
						box-shadow:         0px 6px 24px 0px rgba(0, 0, 0, 1);
						-webkit-transform-style: preserve-3d;
						-moz-transform-style: preserve-3d;
						transform-style: preserve-3d;
						-webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
						-moz-transform: translate(30%) translateZ(600px) rotate(10deg);
						-ms-transform: translate(30%) translateZ(600px) rotate(10deg);
						transform: translate(30%) translateZ(600px) rotate(10deg);
						opacity: 0;
						> p:first-child{
							line-height: 4.375em;
							vertical-align: middle;
							text-align: center;
							font-family: 'PlutoSansCondBold', Arial, sans-serif;
							font-size: 0.875em;
							text-transform: uppercase;
							letter-spacing: .1em;
						}
						.label{
							line-height: 2.500em;
							vertical-align: middle;
							text-align: center;
							background:#242424;
							font-family: 'MohaveBold', Arial, sans-serif;
							font-size: 1.500em;
							color: #f3f0ed;
							letter-spacing: .1em;
							span{
								display: inline-block;
							}
							.icon{
								width: 0.833em;
								height: 0.833em;
								margin: 0 0.833em;
								color: #343131;
								@include background('./icons/spacecraft_boarding_pass.png', center center, 100% 100%);
							}
						}
						.infos{
							margin-top: 1.563em;
							vertical-align: middle;
							text-align: center;
							div{
								display: inline-block;
								padding: 0 0.750em;
								text-align: left;
								.title{
									font-family: 'PlutoSansCondBold', Arial, sans-serif;
									font-size: 0.875em;
									text-transform: uppercase;
									letter-spacing: .1em;
								}
								input{
									display: inline-block;
									width: 1em;
									font-family: 'MohaveBold', Arial, sans-serif;
									font-size: 2.313em;
									color: #242424;
									text-align: right;
									border:none;
									background: transparent;
								}
								input::-webkit-input-placeholder {color: #d6d3d1;}
								input:-ms-input-placeholder {color: #d6d3d1;}
								input:-moz-placeholder {
								    color:    #d6d3d1;
								    opacity:  1;
								}
								input::-moz-placeholder {
								    color:    #d6d3d1;
								    opacity:  1;
								}
								input[name="weight"]{
									width: 1.5em;
								}
								.unit{
									display: inline-block;
									font-family: 'MohaveBold', Arial, sans-serif;
									font-size: 1.063em;
									text-transform: uppercase;
									letter-spacing: .1em;
								}
							}
							div+div{
								border-left: 1px solid #d6d3d1;
							}
							div.error_message{
								.title, input{
									color: #e84c3d;
								}
								input::-webkit-input-placeholder {color: #e84c3d;}
								input:-ms-input-placeholder {color: #e84c3d;}
								input:-moz-placeholder {
								    color:    #e84c3d;
								    opacity:  1;
								}
								input::-moz-placeholder {
								    color:    #e84c3d;
								    opacity:  1;
								}
							}
						}
						.transportation{
							margin: 1.875em auto;
							text-align: center;
							input[type="radio"]{
								display: none;
							}
							label{
								display: inline-block;
								width: 1.563em;
								height: 1.563em;
								margin: 0 0.688em;
								cursor: pointer;
							}
							#t_spacecraft1+label{
								opacity: .3;
								@include background('./icons/boarding-spaceshiptwo.svg', center center, 100% 100%);
							}
							#t_spacecraft1:checked+label, #t_spacecraft1+label:hover{
								opacity: 1;
								@include background('./icons/boarding-spaceshiptwo.svg', center center, 100% 100%);
							}
							#t_spacecraft2+label{
								opacity: .3;
								@include background('./icons/boarding-voyager2.svg', center center, 100% 100%);
							}
							#t_spacecraft2:checked+label, #t_spacecraft2+label:hover{
								opacity: 1;
								@include background('./icons/boarding-voyager2.svg', center center, 100% 100%);
							}
							#t_spacecraft3+label{
								opacity: .3;
								@include background('./icons/boarding-solarprobe.svg', center center, 100% 100%);
							}
							#t_spacecraft3:checked+label, #t_spacecraft3+label:hover{
								opacity: 1;
								@include background('./icons/boarding-solarprobe.svg', center center, 100% 100%);
							}
						}
						input[type="submit"]{
							display: block;
							width: 62%;
							margin: 0 auto;
							line-height: 2.500em;
							vertical-align: middle;
							border: 2px solid #242424;
							font-family: 'PlutoSansCondBold', Arial, sans-serif;
							font-size: 0.875em;
							background: #f3f0ed;
							color: #242424;
							text-align: center;
							text-decoration: none;
							text-transform: uppercase;
							cursor: pointer;
						}
						input[type="submit"]:hover{
							background: #242424;
							color: #f3f0ed;
							-webkit-transition: all .5s ease;
							-moz-transition: all .5s ease;
							-o-transition: all .5s ease;
							transition: all .5s ease;
						}
						.barcode{
							width: 53.3333333%;
							height: 3.625em;
							margin: 1.875em auto;
							@include background('codebar.svg', center center, 100% 100%);
						}
					}
				}
			}
			.boarding_pass.on{
				height: 100%;
				opacity: 1;
				.modal{
					visibility: visible;
					.content{
						-webkit-transition: all 0.3s ease-in 0.1s;
						-moz-transition: all 0.3s ease-in 0.1s;
						transition: all 0.3s ease-in 0.1s;
						-webkit-transform: translate(0%) translateZ(0) rotate(0deg);
						-moz-transform: translate(0%) translateZ(0) rotate(0deg);
						-ms-transform: translate(0%) translateZ(0) rotate(0deg);
						transform: translate(0%) translateZ(0) rotate(0deg);
						opacity: 1;
						perspective: 1300px;
					}
				}
			}
			.distances_graph{
				.container{
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					h3{
						max-width: 30em;
						margin: .8em auto 0 auto;
						font-size : 1.125em;
					}
					.distances_comparison{
						.svg{
							svg{
								display: block;
								margin: 1em auto 0 auto;
								.planet_name{
									font-family: 'PlutoSansCondRegular', Arial, sans-serif;
									text-transform: uppercase;
								}
							}
						}
					}
					.legend{
						margin: 2.188em auto;
						text-align: center;
						p, span, img{
							display: inline-block;
							vertical-align: middle;
							font-family: 'PlutoSansCondRegular', Arial, sans-serif;
							font-size: 1.125em;
						}
						p:first-child{
							font-family: 'PlutoSansCondMedium', Arial, sans-serif;
						}
						span.arrow{
							width: 5.625em;
							height: 1.375em;
							@include background('./icons/ua-arrow.png', center center, auto auto, repeat-x);
						}
						.sun{
							width: 1.313em;
							height: 1.313em;
						}
						.earth{
							width: 0.813em;
							height: 0.813em;
						}
					}
					.planet_infos{
						margin: 3.750em auto 0 auto;
						text-align: center;
						p{
							font-family: 'PlutoSansCondRegular', Arial, sans-serif;
							font-size: 1.125em;
							.planet_name{
								display: inline-block;
								width: 90px;
								text-align: right;
							}
							.ua_distance{
								display: inline-block;
								width: 60px;
								text-align: center;
								font-family: 'MohaveBold', Arial, sans-serif;
							}
						}
						p+p{
							margin-top: .863em;
							text-transform: uppercase;
							font-family: 'MohaveRegular', Arial, sans-serif;
							font-size: 1.625em;
							.km_distance{
								display: inline-block;
								width: 300px;
								text-align: right;
								font-family: 'MohaveBold', Arial, sans-serif;
								font-size: 1.615em;
							}
						}
					}
				}
			}
			.compare_graph{
				.graph{
					.svg{
						svg{
							position : absolute;
							z-index: 5;
							top: 0; right: 0; bottom: 0; left: 0;
							text{
								font-family: 'PlutoSansCondRegular', Arial, sans-serif;
							}
							.comparator{
								-webkit-transition: opacity 0.3s ease-in;
								-moz-transition: opacity 0.3s ease-in;
								transition: opacity 0.3s ease-in;
							}
							.comparator_container, .display_all_container{
								cursor : pointer;
							}
							.comparator.selected{
								.planet{
									cursor: pointer;
								}
							}
							.comparator_label.selected{
								font-family: 'PlutoSansCondMedium', Arial, sans-serif;
							}
							.planet_name{
								font-family: 'PlutoSansCondBold', Arial, sans-serif;
								font-size: 0.625em;
								text-transform: uppercase;
							}
							.banner_value, .banner_compare{
								font-family: 'MohaveBold', Arial, sans-serif;
								font-size : 1.250em;
								text-transform: uppercase;
							}
							.select_label, .select_value, .select_item{
								font-family: 'PlutoSansCondRegular', Arial, sans-serif;
								font-size: 0.625em;
								text-transform: uppercase;
							}
							.select_value, .select_item{
								font-family: 'PlutoSansCondBold', Arial, sans-serif;
							}
							.select_icon, .select_value, .select_item, .previous_planet, .next_planet{
								cursor: pointer;
							}
							.select_icon{
								transform-origin: center center;
								-ms-transform-origin: center center;
								-webkit-transform-origin: center center;
							}
							.comparator{
								opacity: 1;
							}
							.comparator.hide{
								opacity: 0;
							}
							.comparator.dimmed{
								opacity: 0.4;
							}
						}
					}
				}
			}
		}
		#loader{
			opacity: 0;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			height: 0;
			z-index: 9;
			/*@include background('./background.jpg', center center, auto auto);*/
			background-color: #021620;
			p{
				position:absolute;
				top:50%;
				margin-top:5.5em;
				width: 100%;
				text-align: center;
				font-family: 'PlutoSansCondRegular', Arial, sans-serif;
				font-size: .85em;
			}
		}
		#loader.on{
			height: 100%;
			opacity: 1;
			div{
				.sun{
					width:3.125em;
					height:3.125em;
					background-color:white;
					border-radius:25px;
					position:absolute;
					left:50%;
					top:50%;
					margin-left:-1.5625em;
					margin-top:-1.5625em;
				}		
				.earth{
					width:0.875em;
					height:0.875em;
					background-color:white;
					opacity:0.9;
					border-radius:7px;
					position:absolute;
					left:50%;
					top:50%;
					margin-left:-0.438em;
					margin-top:-0.438em;
					-webkit-animation: orbit 1.5s linear infinite; /* Chrome, Safari 5 */
				    -moz-animation: orbit 1.5s linear infinite; /* Firefox 5-15 */
				    -o-animation: orbit 1.5s linear infinite; /* Opera 12+ */
				    animation: orbit 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
				}
				.mercury{
					width:0.375em;
					height:0.375em;
					background-color:white;
					opacity:0.8;
					border-radius:3px;
					position:absolute;
					left:50%;
					top:50%;
					margin-left:-0.188em;
					margin-top:-0.188em;
					-webkit-animation: orbit2 0.8s linear infinite; /* Chrome, Safari 5 */
				    -moz-animation: orbit2 0.8s linear infinite; /* Firefox 5-15 */
				    -o-animation: orbit2 0.8s linear infinite; /* Opera 12+ */
				    animation: orbit2 0.8s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
				}
				.venus{
					width:0.500em;
					height:0.500em;
					background-color:white;
					opacity:0.6;
					border-radius:4px;
					position:absolute;
					left:50%;
					top:50%;
					margin-left:-.25em;
					margin-top:-.25em;
					-webkit-animation: orbit3 1.4s linear infinite; /* Chrome, Safari 5 */
				    -moz-animation: orbit3 1.4s linear infinite; /* Firefox 5-15 */
				    -o-animation: orbit3 1.4s linear infinite; /* Opera 12+ */
				    animation: orbit3 1.4s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */
				}
				.mars{
					width:0.625em;
					height:0.625em;
					background-color:white;
					opacity:0.5;
					border-radius:5px;
					position:absolute;
					left:50%;
					top:50%;
					margin-left:-0.313em;
					margin-top:-0.313em;
					-webkit-animation: orbit4 2.1s linear infinite; /* Chrome, Safari 5 */
				    -moz-animation: orbit4 2.1s linear infinite; /* Firefox 5-15 */
				    -o-animation: orbit4 2.1s linear infinite; /* Opera 12+ */
				    animation: orbit4 2.1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5 */	
				}
			}
		}
		
	}
}

@import 'planet';
@import 'landing';

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi){}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@-moz-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@-o-keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}
@keyframes glitter {
	0%   { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
	50%  { -webkit-box-shadow: 0px 0px 15px 5px #ffffff; opacity: 0.95; }
	100% { -webkit-box-shadow: 0px 0px 15px 1px #ffffff; opacity: 0.8; }
}

/**********Keyframes de rotation planètes**************/

/***EARTH*****/

@-webkit-keyframes orbit {
	from { 	-webkit-transform: rotate(0deg) translateX(54px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(54px) rotate(-360deg); }
}

@-moz-keyframes orbit {
	from { 	-moz-transform: rotate(0deg) translateX(54px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(54px) rotate(-360deg); }
}

@-o-keyframes orbit {
	from { 	-o-transform: rotate(0deg) translateX(54px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(54px) rotate(-360deg); }
}

@keyframes orbit {
	from { 	transform: rotate(0deg) translateX(54px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(54px) rotate(-360deg); }
}


/***MERCURY*****/

@-webkit-keyframes orbit2 {
	from { 	-webkit-transform: rotate(0deg) translateX(30px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@-moz-keyframes orbit2 {
	from { 	-moz-transform: rotate(0deg) translateX(30px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@-o-keyframes orbit2 {
	from { 	-o-transform: rotate(0deg) translateX(30px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(30px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}


/***VENUS****/

@-webkit-keyframes orbit3 {
	from { 	-webkit-transform: rotate(0deg) translateX(42px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(42px) rotate(-360deg); }
}

@-moz-keyframes orbit3 {
	from { 	-moz-transform: rotate(0deg) translateX(42px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(42px) rotate(-360deg); }
}

@-o-keyframes orbit3 {
	from { 	-o-transform: rotate(0deg) translateX(42px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(42px) rotate(-360deg); }
}

@keyframes orbit3 {
	from { 	transform: rotate(0deg) translateX(42px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(42px) rotate(-360deg); }
}


/***MARS****/

@-webkit-keyframes orbit4 {
	from { 	-webkit-transform: rotate(0deg) translateX(68px) rotate(0deg); }
	to   {  -webkit-transform: rotate(360deg) translateX(68px) rotate(-360deg); }
}

@-moz-keyframes orbit4 {
	from { 	-moz-transform: rotate(0deg) translateX(68px) rotate(0deg); }
	to   {  -moz-transform: rotate(360deg) translateX(68px) rotate(-360deg); }
}

@-o-keyframes orbit4 {
	from { 	-o-transform: rotate(0deg) translateX(68px) rotate(0deg); }
	to   {  -o-transform: rotate(360deg) translateX(68px) rotate(-360deg); }
}

@keyframes orbit4 {
	from { 	transform: rotate(0deg) translateX(68px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(68px) rotate(-360deg); }
}




@keyframes bobbingAnim {
   0% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }

   100% {

       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out
   }
}

@-webkit-keyframes bobbingAnim {
   0% {
       -webkit-transform: translate(0px, 0px) rotate(-30deg) scale(1) ;
       -webkit-animation-timing-function:ease-in-out
   }

   100% {
       -webkit-transform: translate(-240px, -240px) rotate(-5deg) scale(0) ;
       -webkit-animation-timing-function:ease-in-out
   }
}
