@font-face {
  font-family: 'MohaveRegular';
  src: url("../fonts/Mohave_regular/mohave.eot");
  src: url("../fonts/Mohave_regular/mohave.eot") format("embedded-opentype"), url("../fonts/Mohave_regular/mohave.woff") format("woff"), url("../fonts/Mohave_regular/mohave.ttf") format("truetype"), url("../fonts/Mohave_regular/mohave.svg#MohaveRegular") format("svg");
}

@font-face {
  font-family: 'MohaveBold';
  src: url("../fonts/Mohave_bold/mohave-bold.eot");
  src: url("../fonts/Mohave_bold/mohave-bold.eot") format("embedded-opentype"), url("../fonts/Mohave_bold/mohave-bold.woff") format("woff"), url("../fonts/Mohave_bold/mohave-bold.ttf") format("truetype"), url("../fonts/Mohave_bold/mohave-bold.svg#MohaveBold") format("svg");
}

@font-face {
  font-family: 'PacificoRegular';
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot");
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico_regular/pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico_regular/pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico_regular/pacifico-webfont.svg#pacificoregular") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondMedium';
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot");
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.woff") format("woff"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.ttf") format("truetype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.svg#PlutoSansCondMedium") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondLight';
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot");
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.woff") format("woff"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.ttf") format("truetype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.svg#PlutoSansCondLight") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondBold';
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot");
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.woff") format("woff"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.ttf") format("truetype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.svg#PlutoSansCondLight") format("svg");
}
