/* Mixins */
/* Variables */
/* Styles */
/* line 17, ../sass/planet.scss */
.planet .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* line 26, ../sass/planet.scss */
.planet .container header h2 {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2.4em;
}
/* line 33, ../sass/planet.scss */
.planet .container h2, .planet .container h3, .planet .container h4 {
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
/* line 38, ../sass/planet.scss */
.planet .container h3 {
  text-align: center;
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  display: block;
}
/* line 46, ../sass/planet.scss */
.planet .container h4 {
  margin-top: .4em;
  font-size: 1.125em;
}
/* line 51, ../sass/planet.scss */
.planet .container svg {
  display: block;
}
/* line 55, ../sass/planet.scss */
.planet .container .content-planet {
  width: 1100px;
  height: 500px;
  margin-top: 3.5em;
}
/* line 59, ../sass/planet.scss */
.planet .container .content-planet .top-content {
  width: 1020px;
  margin-left: 24px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 1em 1em 1em 1em;
}
/* line 65, ../sass/planet.scss */
.planet .container .content-planet .top-content div {
  width: 336px;
  display: inline-block;
}
/* line 69, ../sass/planet.scss */
.planet .container .content-planet .top-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
}
/* line 75, ../sass/planet.scss */
.planet .container .content-planet .top-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
/* line 80, ../sass/planet.scss */
.planet .container .content-planet .top-content .value .number + span {
  margin-left: .5em;
}
/* line 84, ../sass/planet.scss */
.planet .container .content-planet .top-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
/* line 87, ../sass/planet.scss */
.planet .container .content-planet .top-content .value.uppercase .number {
  font-size: 1.615em;
}
/* line 92, ../sass/planet.scss */
.planet .container .content-planet .bottom-content {
  left: 14%;
  padding: 2em 1em 0em 1em;
}
/* line 97, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .bottom-content-block {
  width: 332px;
  display: inline-table;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 102, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .bottom-content-block .graph {
  height: 185px;
  width: 332px;
  display: inline-block;
}
/* line 107, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .bottom-content-block p:first-child {
  margin-top: 3em;
}
/* line 112, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .calendar svg {
  margin-top: 1.25em;
}
/* line 115, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .calendar p:first-of-type {
  margin-top: 2.70em;
}
/* line 120, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .area svg {
  margin-top: 1.5em;
}
/* line 124, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .area p:first-of-type {
  margin-top: 2em;
}
/* line 130, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .weather svg {
  margin-top: -2.2em;
  margin-left: 1em;
}
/* line 134, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .weather text {
  fill: #FFF;
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
}
/* line 142, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .weather p:first-of-type {
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}
/* line 147, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .weather p.third-type {
  margin-top: -1.50em;
}
/* line 152, ../sass/planet.scss */
.planet .container .content-planet .bottom-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
}
/* line 161, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
/* line 166, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .value .number + span {
  margin-left: .5em;
}
/* line 170, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
/* line 173, ../sass/planet.scss */
.planet .container .content-planet .bottom-content .value.uppercase .number {
  font-size: 1.615em;
}
/* line 182, ../sass/planet.scss */
.planet .right_sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15em;
}
/* line 187, ../sass/planet.scss */
.planet .right_sidebar ul {
  padding: 2.500em 0.938em;
  background: #19262c;
}
/* line 190, ../sass/planet.scss */
.planet .right_sidebar ul li {
  position: relative;
  display: block;
  margin: 0.719em 0;
}
/* line 194, ../sass/planet.scss */
.planet .right_sidebar ul li a {
  display: block;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 201, ../sass/planet.scss */
.planet .right_sidebar ul li a.icon {
  width: 2.313em;
  height: 2.313em;
}
/* line 205, ../sass/planet.scss */
.planet .right_sidebar ul li a.name {
  position: absolute;
  right: 6.5em;
  line-height: 4.02600em;
  height: 3.82600em;
  vertical-align: middle;
  font-size: 0.625em;
  text-align: right;
  width: 5em;
}
/* line 217, ../sass/planet.scss */
.planet .right_sidebar ul li:hover a {
  color: #8f8f8f;
}
/* line 222, ../sass/planet.scss */
.planet .right_sidebar ul li.mercury .icon {
  background-image: url('../images/planets/mercury.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 227, ../sass/planet.scss */
.planet .right_sidebar ul li.venus .icon {
  background-image: url('../images/planets/venus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 232, ../sass/planet.scss */
.planet .right_sidebar ul li.earth .icon {
  background-image: url('../images/planets/earth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 237, ../sass/planet.scss */
.planet .right_sidebar ul li.mars .icon {
  background-image: url('../images/planets/mars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 242, ../sass/planet.scss */
.planet .right_sidebar ul li.jupiter .icon {
  background-image: url('../images/planets/jupiter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 247, ../sass/planet.scss */
.planet .right_sidebar ul li.saturn .icon {
  background-image: url('../images/planets/saturn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 252, ../sass/planet.scss */
.planet .right_sidebar ul li.uranus .icon {
  background-image: url('../images/planets/uranus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 257, ../sass/planet.scss */
.planet .right_sidebar ul li.neptune .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 262, ../sass/planet.scss */
.planet .right_sidebar ul li.compare .icon {
  background-image: url('../images/planets/compare.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 270, ../sass/planet.scss */
#main > section.planet > div.container > header > h2 {
  font-size: 2.4em;
}
