/* Mixins */
/* Variables */
/* Styles */
.planet .container {
  position: absolute;
  width: 80%;
  max-width: 68.750em;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.planet .container header h2 {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2.4em;
}
.planet .container h2, .planet .container h3, .planet .container h4 {
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
.planet .container h3 {
  text-align: center;
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  display: block;
}
.planet .container h4 {
  margin-top: .4em;
  font-size: 1.125em;
}
.planet .container svg {
  display: block;
}
.planet .container .content-planet {
  margin-top: 3.5em;
}
.planet .container .content-planet .top-content {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  box-sizing: border-box;
  padding: 1em 0;
  text-align: center;
}
.planet .container .content-planet .top-content div {
  width: 33%;
  display: inline-block;
}
.planet .container .content-planet .top-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
}
.planet .container .content-planet .top-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
.planet .container .content-planet .top-content .value .number + span {
  margin-left: .5em;
}
.planet .container .content-planet .top-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
.planet .container .content-planet .top-content .value.uppercase .number {
  font-size: 1.615em;
}
.planet .container .content-planet .bottom-content {
  padding-top: 2em;
}
.planet .container .content-planet .bottom-content .bottom-content-block {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0.625em;
  padding-right: 0.625em;
  text-align: center;
}
.planet .container .content-planet .bottom-content .bottom-content-block .graph {
  display: inline-block;
  width: 100%;
}
.planet .container .content-planet .bottom-content .bottom-content-block p:first-child {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .calendar svg {
  margin-top: 1.25em;
}
.planet .container .content-planet .bottom-content .calendar p:first-of-type {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .area svg {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .area p:first-of-type {
  margin-top: 2em;
}
.planet .container .content-planet .bottom-content .weather svg {
  margin-top: -1.8em;
}
.planet .container .content-planet .bottom-content .weather text {
  fill: #FFF;
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
}
.planet .container .content-planet .bottom-content .weather p:first-of-type {
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}
.planet .container .content-planet .bottom-content .weather p.third-type {
  margin-top: 0;
}
.planet .container .content-planet .bottom-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
}
.planet .container .content-planet .bottom-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
.planet .container .content-planet .bottom-content .value .number + span {
  margin-left: .5em;
}
.planet .container .content-planet .bottom-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
.planet .container .content-planet .bottom-content .value.uppercase .number {
  font-size: 1.615em;
}
.planet .right_sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15em;
}
.planet .right_sidebar ul {
  padding: 2.500em 0.938em;
  background: #19262c;
}
.planet .right_sidebar ul li {
  position: relative;
  display: block;
  margin: 0.719em 0;
}
.planet .right_sidebar ul li a {
  display: block;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.planet .right_sidebar ul li a.icon {
  width: 2.313em;
  height: 2.313em;
}
.planet .right_sidebar ul li a.name {
  position: absolute;
  right: 6.5em;
  line-height: 4.02600em;
  height: 3.82600em;
  vertical-align: middle;
  font-size: 0.625em;
  text-align: right;
  width: 5em;
}
@media screen and (max-width: 1200px) {
  .planet .right_sidebar ul li a.name {
    display: none;
  }
}
.planet .right_sidebar ul li:hover a {
  color: #8f8f8f;
}
.planet .right_sidebar ul li.mercury .icon {
  background-image: url('../images/planets/mercury.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.venus .icon {
  background-image: url('../images/planets/venus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.earth .icon {
  background-image: url('../images/planets/earth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.mars .icon {
  background-image: url('../images/planets/mars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.jupiter .icon {
  background-image: url('../images/planets/jupiter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.saturn .icon {
  background-image: url('../images/planets/saturn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.uranus .icon {
  background-image: url('../images/planets/uranus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.neptune .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.compare .icon {
  background-image: url('../images/planets/compare.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#main > section.planet > div.container > header > h2 {
  font-size: 2.4em;
}
