@charset "CP850";
/* Imports */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MohaveRegular';
  src: url("../fonts/Mohave_regular/mohave.eot");
  src: url("../fonts/Mohave_regular/mohave.eot") format("embedded-opentype"), url("../fonts/Mohave_regular/mohave.woff") format("woff"), url("../fonts/Mohave_regular/mohave.ttf") format("truetype"), url("../fonts/Mohave_regular/mohave.svg#MohaveRegular") format("svg");
}

@font-face {
  font-family: 'MohaveBold';
  src: url("../fonts/Mohave_bold/mohave-bold.eot");
  src: url("../fonts/Mohave_bold/mohave-bold.eot") format("embedded-opentype"), url("../fonts/Mohave_bold/mohave-bold.woff") format("woff"), url("../fonts/Mohave_bold/mohave-bold.ttf") format("truetype"), url("../fonts/Mohave_bold/mohave-bold.svg#MohaveBold") format("svg");
}

@font-face {
  font-family: 'PacificoRegular';
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot");
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico_regular/pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico_regular/pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico_regular/pacifico-webfont.svg#pacificoregular") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondMedium';
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot");
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.woff") format("woff"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.ttf") format("truetype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.svg#PlutoSansCondMedium") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondLight';
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot");
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.woff") format("woff"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.ttf") format("truetype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.svg#PlutoSansCondLight") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondBold';
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot");
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.woff") format("woff"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.ttf") format("truetype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.svg#PlutoSansCondLight") format("svg");
}

/* Mixins */
/* Variables */
/* Styles */
.uppercase {
  text-transform: uppercase;
}

html {
  height: 100%;
}
html body {
  overflow: hidden;
  height: 100%;
  color: white;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #0b1b24;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html body #main {
  height: 100%;
  overflow: hidden;
}
html body #main header h2, html body #main header h3 {
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
html body #main header h2 {
  padding-top: .5em;
  text-transform: uppercase;
  font-size: 3.125em;
}
html body #main header h3 {
  padding-top: .2em;
  font-size: 1.125em;
}
html body #main section {
  width: 100%;
  height: 100%;
}
html body #main .close {
  position: absolute;
  z-index: 8;
  top: 1.875em;
  right: 1.875em;
  width: 1.250em;
  height: 1.250em;
  background-image: url('../images/icons/close.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .about {
  position: absolute;
  z-index: 5;
  top: 1.9em;
  right: 1.9em;
  width: 1.9em;
  height: 1.9em;
  background-image: url('../images/icons/info.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .error {
  position: absolute;
  width: 900px;
  height: 550px;
  left: 50%;
  top: 40%;
  margin-top: -225px;
  margin-left: -450px;
  text-align: center;
}
html body #main .error h2, html body #main .error h3 {
  width: 100%;
  text-align: center;
}
html body #main .error h2 {
  padding-top: .8em;
  /* text-transform: uppercase; */
  padding-bottom: 0.5em;
  font-size: 1.75em;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
}
html body #main .error h2 span {
  font-size: 1.5em;
}
html body #main .error h3 {
  font-size: 1.75em;
  font-family: 'PlutoSansCond', Arial, sans-serif;
}
html body #main .error a {
  position: relative;
  top: 385px;
  display: inline-block;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.188em;
  text-decoration: none;
  margin: 11px;
  padding: 10px 10px;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
html body #main .error a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
html body #main .error .asteroid {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 234px;
  width: 234px;
  margin-top: -117px;
  margin-left: -117px;
  background-image: url('../images/404/asteroid.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .error .box-shadow {
  position: absolute;
  background: #000;
  height: 20px;
  width: 196px;
  top: 80%;
  left: 50%;
  margin-top: -10px;
  margin-left: -98px;
  display: block;
  border-radius: 8px 25px;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
html body #main .error #spacecraft {
  height: 31px;
  width: 20px;
  transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
  background-image: url('../images/404/spacecraft.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 135px;
  margin-left: 322px;
  position: absolute;
}
html body #main .error .spacecraft {
  height: 31px;
  width: 20px;
  transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
  background-image: url('../images/404/spacecraft.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 135px;
  margin-left: 322px;
  position: absolute;
  animation-name: bobbingAnim;
  animation-duration: 4s;
  animation-play-state: running;
  -webkit-animation-name: bobbingAnim;
  -webkit-animation-duration: 4s;
  -webkit-animation-play-state: running;
}
html body #main .credits {
  overflow-y: scroll;
}
html body #main .credits > div {
  width: 80%;
  max-width: 45em;
  margin: 6.5% auto 6.5% auto;
}
html body #main .credits > div h2 {
  display: block;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 3.750em;
  text-transform: uppercase;
}
html body #main .credits > div h3 {
  display: block;
  margin: 1.1em auto;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 1.563em;
}
html body #main .credits > div h4 {
  display: block;
  margin: 1.1em 0 0.363em 0;
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 1.375em;
}
html body #main .credits > div p, html body #main .credits > div a {
  line-height: 1.250em;
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 1em;
}
html body #main .credits > div a {
  color: #31a4dd;
  text-decoration: none;
}
html body #main .credits > div .subtitle {
  display: block;
  margin: 1.1em auto;
}
html body #main .credits > div .personn a, html body #main .credits > div .personn p {
  display: inline-block;
  line-height: 1.875em;
  vertical-align: middle;
}
html body #main .credits > div .personn .twitter {
  width: 1.563em;
  height: 1.250em;
  margin-right: 0.938em;
  background-image: url('../images/icons/twitter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .credits > div .personn .name {
  font-weight: bold;
}
html body #main .credits .close {
  right: 2.6em;
}
html body #main .mobile div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
html body #main .mobile div h2, html body #main .mobile div h3 {
  display: block;
  text-align: center;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
}
html body #main .mobile div h2 {
  font-size: 1.5em;
}
html body #main .mobile div h3 {
  font-size: 1.2em;
}
html body #main .mobile div img {
  display: block;
  width: 65%;
  max-width: 25em;
  height: auto;
  margin: 7% auto;
}
html body #main .solar_system .solar_system_orbits {
  position: relative;
}
html body #main .solar_system .solar_system_orbits svg {
  display: block;
  margin: 1em auto 0 auto;
}
html body #main .solar_system .solar_system_orbits .planet_infos {
  opacity: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.05);
  width: 150px;
  height: 130px;
  padding: 5px;
  -webkit-transition: opacity 0.15s ease-in;
  -moz-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
html body #main .solar_system .solar_system_orbits .planet_infos p {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  text-transform: uppercase;
}
html body #main .solar_system .solar_system_orbits .planet_infos .planet_name {
  display: block;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 1.375em;
  padding: 0.325em 0;
  border-bottom: 2px solid #FFF;
  margin-bottom: 0.325em;
}
html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed {
  margin-bottom: 0.325em;
}
html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed_value {
  margin-bottom: 0.325em;
}
html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed_value, html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed_duration {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 1em;
}
html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed_value span, html body #main .solar_system .solar_system_orbits .planet_infos .rotation_speed_duration span {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 1.250em;
}
html body #main .solar_system .solar_system_orbits .planet_infos.on {
  opacity: 1;
}
html body #main .solar_system .left_sidebar {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  margin-top: -10.688em;
  padding-left: 1.5em;
}
html body #main .solar_system .left_sidebar div + div {
  border-top: 2px solid #FFF;
}
html body #main .solar_system .left_sidebar p {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
}
html body #main .solar_system .left_sidebar .blue span {
  color: #addee0;
}
html body #main .solar_system .left_sidebar .value {
  margin: .650em 0;
}
html body #main .solar_system .left_sidebar .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
html body #main .solar_system .left_sidebar .value .number + span {
  margin-left: .5em;
}
html body #main .solar_system .left_sidebar .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
html body #main .solar_system .left_sidebar .value.uppercase .number {
  font-size: 1.615em;
}
html body #main .solar_system .left_sidebar ul.vehicules {
  margin: 1.25em 0;
}
html body #main .solar_system .left_sidebar ul.vehicules li {
  display: inline-block;
  margin-right: .5em;
}
html body #main .solar_system .left_sidebar ul.vehicules li input[type="radio"] {
  display: none;
}
html body #main .solar_system .left_sidebar ul.vehicules li label {
  display: block;
  width: 2.313em;
  height: 2.313em;
  cursor: pointer;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft1 + label {
  background-image: url('../images/./icons/spaceship2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft1:checked + label, html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft1 + label:hover {
  background-image: url('../images/./icons/hover-spaceship2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft2 + label {
  background-image: url('../images/./icons/voyager2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft2:checked + label, html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft2 + label:hover {
  background-image: url('../images/./icons/hover-voyager2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft3 + label {
  background-image: url('../images/./icons/solarprobe.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft3:checked + label, html body #main .solar_system .left_sidebar ul.vehicules li #v_spacecraft3 + label:hover {
  background-image: url('../images/./icons/hover-solarprobe.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar {
  position: absolute;
  z-index: 5;
  top: 50%;
  right: 0;
  margin-top: -15em;
}
html body #main .solar_system .right_sidebar ul {
  padding: 2.500em 0.938em;
  background: #19262c;
}
html body #main .solar_system .right_sidebar ul li {
  position: relative;
  display: block;
  margin: 0.719em 0;
}
html body #main .solar_system .right_sidebar ul li a {
  display: block;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
html body #main .solar_system .right_sidebar ul li a.icon {
  width: 2.313em;
  height: 2.313em;
}
html body #main .solar_system .right_sidebar ul li a.name {
  position: absolute;
  right: 6.5em;
  line-height: 4.02600em;
  height: 3.82600em;
  vertical-align: middle;
  font-size: 0.625em;
  text-align: right;
  white-space: nowrap;
}
html body #main .solar_system .right_sidebar ul li:hover a {
  color: #8f8f8f;
}
html body #main .solar_system .right_sidebar ul li.mercury .icon {
  background-image: url('../images/planets/mercury.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.venus .icon {
  background-image: url('../images/planets/venus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.earth .icon {
  background-image: url('../images/planets/earth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.mars .icon {
  background-image: url('../images/planets/mars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.jupiter .icon {
  background-image: url('../images/planets/jupiter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.saturn .icon {
  background-image: url('../images/planets/saturn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.uranus .icon {
  background-image: url('../images/planets/uranus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.neptune .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system .right_sidebar ul li.compare .icon {
  background-image: url('../images/planets/compare.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .solar_system footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
html body #main .solar_system footer .distance_scales {
  position: relative;
  width: 100%;
}
html body #main .solar_system footer .distance_scales div {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 3;
}
html body #main .solar_system footer .distance_scales div p {
  display: inline-block;
  line-height: 1.875em;
  vertical-align: middle;
  text-align: center;
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 0.925em;
}
html body #main .solar_system footer .distance_scales div a {
  display: inline-block;
  width: 1.875em;
  height: 1.875em;
  margin-left: 1em;
  vertical-align: middle;
  border-radius: 50%;
  background-image: url('../images/./icons/learn-more.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
html body #main .solar_system footer .distance_scales div.svg {
  z-index: 2;
}
html body #main .solar_system footer .distance_scales svg {
  display: block;
  margin: 0 auto 0 auto;
}
html body #main .boarding_pass {
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  z-index: 6;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
html body #main .boarding_pass p.instructions {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -21em;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 0.875em;
  letter-spacing: .1em;
  text-align: center;
}
html body #main .boarding_pass div.modal {
  visibility: hidden;
  position: absolute;
  width: 18.750em;
  top: 50%;
  left: 50%;
  /*margin-top: -14.219em;
  margin-left: -9.375em;*/
  color: #343131;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}
html body #main .boarding_pass div.modal form.content {
  height: 100%;
  background: #f3f0ed;
  border-radius: 0.250em;
  -webkit-box-shadow: 0px 6px 24px 0px black;
  -moz-box-shadow: 0px 6px 24px 0px black;
  box-shadow: 0px 6px 24px 0px black;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate(30%) translateZ(600px) rotate(10deg);
  -moz-transform: translate(30%) translateZ(600px) rotate(10deg);
  -ms-transform: translate(30%) translateZ(600px) rotate(10deg);
  transform: translate(30%) translateZ(600px) rotate(10deg);
  opacity: 0;
}
html body #main .boarding_pass div.modal form.content > p:first-child {
  line-height: 4.375em;
  vertical-align: middle;
  text-align: center;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
html body #main .boarding_pass div.modal form.content .label {
  line-height: 2.500em;
  vertical-align: middle;
  text-align: center;
  background: #242424;
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 1.500em;
  color: #f3f0ed;
  letter-spacing: .1em;
}
html body #main .boarding_pass div.modal form.content .label span {
  display: inline-block;
}
html body #main .boarding_pass div.modal form.content .label .icon {
  width: 0.833em;
  height: 0.833em;
  margin: 0 0.833em;
  color: #343131;
  background-image: url('../images/./icons/spacecraft_boarding_pass.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .infos {
  margin-top: 1.563em;
  vertical-align: middle;
  text-align: center;
}
html body #main .boarding_pass div.modal form.content .infos div {
  display: inline-block;
  padding: 0 0.750em;
  text-align: left;
}
html body #main .boarding_pass div.modal form.content .infos div .title {
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 0.875em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
html body #main .boarding_pass div.modal form.content .infos div input {
  display: inline-block;
  width: 1em;
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.313em;
  color: #242424;
  text-align: right;
  border: none;
  background: transparent;
}
html body #main .boarding_pass div.modal form.content .infos div input::-webkit-input-placeholder {
  color: #d6d3d1;
}
html body #main .boarding_pass div.modal form.content .infos div input:-ms-input-placeholder {
  color: #d6d3d1;
}
html body #main .boarding_pass div.modal form.content .infos div input:-moz-placeholder {
  color: #d6d3d1;
  opacity: 1;
}
html body #main .boarding_pass div.modal form.content .infos div input::-moz-placeholder {
  color: #d6d3d1;
  opacity: 1;
}
html body #main .boarding_pass div.modal form.content .infos div input[name="weight"] {
  width: 1.5em;
}
html body #main .boarding_pass div.modal form.content .infos div .unit {
  display: inline-block;
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 1.063em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
html body #main .boarding_pass div.modal form.content .infos div + div {
  border-left: 1px solid #d6d3d1;
}
html body #main .boarding_pass div.modal form.content .infos div.error_message .title, html body #main .boarding_pass div.modal form.content .infos div.error_message input {
  color: #e84c3d;
}
html body #main .boarding_pass div.modal form.content .infos div.error_message input::-webkit-input-placeholder {
  color: #e84c3d;
}
html body #main .boarding_pass div.modal form.content .infos div.error_message input:-ms-input-placeholder {
  color: #e84c3d;
}
html body #main .boarding_pass div.modal form.content .infos div.error_message input:-moz-placeholder {
  color: #e84c3d;
  opacity: 1;
}
html body #main .boarding_pass div.modal form.content .infos div.error_message input::-moz-placeholder {
  color: #e84c3d;
  opacity: 1;
}
html body #main .boarding_pass div.modal form.content .transportation {
  margin: 1.875em auto;
  text-align: center;
}
html body #main .boarding_pass div.modal form.content .transportation input[type="radio"] {
  display: none;
}
html body #main .boarding_pass div.modal form.content .transportation label {
  display: inline-block;
  width: 1.563em;
  height: 1.563em;
  margin: 0 0.688em;
  cursor: pointer;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft1 + label {
  opacity: .3;
  background-image: url('../images/./icons/boarding-spaceshiptwo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft1:checked + label, html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft1 + label:hover {
  opacity: 1;
  background-image: url('../images/./icons/boarding-spaceshiptwo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft2 + label {
  opacity: .3;
  background-image: url('../images/./icons/boarding-voyager2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft2:checked + label, html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft2 + label:hover {
  opacity: 1;
  background-image: url('../images/./icons/boarding-voyager2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft3 + label {
  opacity: .3;
  background-image: url('../images/./icons/boarding-solarprobe.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft3:checked + label, html body #main .boarding_pass div.modal form.content .transportation #t_spacecraft3 + label:hover {
  opacity: 1;
  background-image: url('../images/./icons/boarding-solarprobe.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass div.modal form.content input[type="submit"] {
  display: block;
  width: 62%;
  margin: 0 auto;
  line-height: 2.500em;
  vertical-align: middle;
  border: 2px solid #242424;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 0.875em;
  background: #f3f0ed;
  color: #242424;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
html body #main .boarding_pass div.modal form.content input[type="submit"]:hover {
  background: #242424;
  color: #f3f0ed;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
html body #main .boarding_pass div.modal form.content .barcode {
  width: 53.3333333%;
  height: 3.625em;
  margin: 1.875em auto;
  background-image: url('../images/codebar.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #main .boarding_pass.on {
  height: 100%;
  opacity: 1;
}
html body #main .boarding_pass.on .modal {
  visibility: visible;
}
html body #main .boarding_pass.on .modal .content {
  -webkit-transition: all 0.3s ease-in 0.1s;
  -moz-transition: all 0.3s ease-in 0.1s;
  transition: all 0.3s ease-in 0.1s;
  -webkit-transform: translate(0%) translateZ(0) rotate(0deg);
  -moz-transform: translate(0%) translateZ(0) rotate(0deg);
  -ms-transform: translate(0%) translateZ(0) rotate(0deg);
  transform: translate(0%) translateZ(0) rotate(0deg);
  opacity: 1;
  perspective: 1300px;
}
html body #main .distances_graph .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
html body #main .distances_graph .container h3 {
  max-width: 30em;
  margin: .8em auto 0 auto;
  font-size: 1.125em;
}
html body #main .distances_graph .container .distances_comparison .svg svg {
  display: block;
  margin: 1em auto 0 auto;
}
html body #main .distances_graph .container .distances_comparison .svg svg .planet_name {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  text-transform: uppercase;
}
html body #main .distances_graph .container .legend {
  margin: 2.188em auto;
  text-align: center;
}
html body #main .distances_graph .container .legend p, html body #main .distances_graph .container .legend span, html body #main .distances_graph .container .legend img {
  display: inline-block;
  vertical-align: middle;
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 1.125em;
}
html body #main .distances_graph .container .legend p:first-child {
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
html body #main .distances_graph .container .legend span.arrow {
  width: 5.625em;
  height: 1.375em;
  background-image: url('../images/./icons/ua-arrow.png');
  background-position: center center;
  background-repeat: repeat-x;
  background-size: auto auto;
}
html body #main .distances_graph .container .legend .sun {
  width: 1.313em;
  height: 1.313em;
}
html body #main .distances_graph .container .legend .earth {
  width: 0.813em;
  height: 0.813em;
}
html body #main .distances_graph .container .planet_infos {
  margin: 3.750em auto 0 auto;
  text-align: center;
}
html body #main .distances_graph .container .planet_infos p {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 1.125em;
}
html body #main .distances_graph .container .planet_infos p .planet_name {
  display: inline-block;
  width: 90px;
  text-align: right;
}
html body #main .distances_graph .container .planet_infos p .ua_distance {
  display: inline-block;
  width: 60px;
  text-align: center;
  font-family: 'MohaveBold', Arial, sans-serif;
}
html body #main .distances_graph .container .planet_infos p + p {
  margin-top: .863em;
  text-transform: uppercase;
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
html body #main .distances_graph .container .planet_infos p + p .km_distance {
  display: inline-block;
  width: 300px;
  text-align: right;
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 1.615em;
}
html body #main .compare_graph .graph .svg svg {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html body #main .compare_graph .graph .svg svg text {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
}
html body #main .compare_graph .graph .svg svg .comparator {
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
html body #main .compare_graph .graph .svg svg .comparator_container, html body #main .compare_graph .graph .svg svg .display_all_container {
  cursor: pointer;
}
html body #main .compare_graph .graph .svg svg .comparator.selected .planet {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  html body #main .compare_graph .graph .svg svg .comparator_label {
    font-size: 0.875em;
  }
}
html body #main .compare_graph .graph .svg svg .comparator_label.selected {
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
html body #main .compare_graph .graph .svg svg .planet_name {
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  font-size: 0.625em;
  text-transform: uppercase;
}
html body #main .compare_graph .graph .svg svg .banner_value, html body #main .compare_graph .graph .svg svg .banner_compare {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 1.250em;
  text-transform: uppercase;
}
html body #main .compare_graph .graph .svg svg .select_label, html body #main .compare_graph .graph .svg svg .select_value, html body #main .compare_graph .graph .svg svg .select_item {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: 0.625em;
  text-transform: uppercase;
}
html body #main .compare_graph .graph .svg svg .select_value, html body #main .compare_graph .graph .svg svg .select_item {
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
}
html body #main .compare_graph .graph .svg svg .select_icon, html body #main .compare_graph .graph .svg svg .select_value, html body #main .compare_graph .graph .svg svg .select_item, html body #main .compare_graph .graph .svg svg .previous_planet, html body #main .compare_graph .graph .svg svg .next_planet {
  cursor: pointer;
}
html body #main .compare_graph .graph .svg svg .select_icon {
  transform-origin: center center;
  -ms-transform-origin: center center;
  -webkit-transform-origin: center center;
}
html body #main .compare_graph .graph .svg svg .comparator {
  opacity: 1;
}
html body #main .compare_graph .graph .svg svg .comparator.hide {
  opacity: 0;
}
html body #main .compare_graph .graph .svg svg .comparator.dimmed {
  opacity: 0.4;
}
html body #loader {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  z-index: 9;
  /*@include background('./background.jpg', center center, auto auto);*/
  background-color: #021620;
}
html body #loader p {
  position: absolute;
  top: 50%;
  margin-top: 5.5em;
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  font-size: .85em;
}
html body #loader.on {
  height: 100%;
  opacity: 1;
}
html body #loader.on div .sun {
  width: 3.125em;
  height: 3.125em;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5625em;
  margin-top: -1.5625em;
}
html body #loader.on div .earth {
  width: 0.875em;
  height: 0.875em;
  background-color: white;
  opacity: 0.9;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.438em;
  margin-top: -0.438em;
  -webkit-animation: orbit 1.5s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: orbit 1.5s linear infinite;
  /* Firefox 5-15 */
  -o-animation: orbit 1.5s linear infinite;
  /* Opera 12+ */
  animation: orbit 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
html body #loader.on div .mercury {
  width: 0.375em;
  height: 0.375em;
  background-color: white;
  opacity: 0.8;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.188em;
  margin-top: -0.188em;
  -webkit-animation: orbit2 0.8s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: orbit2 0.8s linear infinite;
  /* Firefox 5-15 */
  -o-animation: orbit2 0.8s linear infinite;
  /* Opera 12+ */
  animation: orbit2 0.8s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
html body #loader.on div .venus {
  width: 0.500em;
  height: 0.500em;
  background-color: white;
  opacity: 0.6;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.25em;
  margin-top: -.25em;
  -webkit-animation: orbit3 1.4s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: orbit3 1.4s linear infinite;
  /* Firefox 5-15 */
  -o-animation: orbit3 1.4s linear infinite;
  /* Opera 12+ */
  animation: orbit3 1.4s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}
html body #loader.on div .mars {
  width: 0.625em;
  height: 0.625em;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -0.313em;
  margin-top: -0.313em;
  -webkit-animation: orbit4 2.1s linear infinite;
  /* Chrome, Safari 5 */
  -moz-animation: orbit4 2.1s linear infinite;
  /* Firefox 5-15 */
  -o-animation: orbit4 2.1s linear infinite;
  /* Opera 12+ */
  animation: orbit4 2.1s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Safari 5 */
}

/* Mixins */
/* Variables */
/* Styles */
.planet .container {
  position: absolute;
  width: 80%;
  max-width: 68.750em;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.planet .container header h2 {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2.4em;
}
.planet .container h2, .planet .container h3, .planet .container h4 {
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
.planet .container h3 {
  text-align: center;
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 2em;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  display: block;
}
.planet .container h4 {
  margin-top: .4em;
  font-size: 1.125em;
}
.planet .container svg {
  display: block;
}
.planet .container .content-planet {
  margin-top: 3.5em;
}
.planet .container .content-planet .top-content {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  box-sizing: border-box;
  padding: 1em 0;
  text-align: center;
}
.planet .container .content-planet .top-content div {
  width: 33%;
  display: inline-block;
}
.planet .container .content-planet .top-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
}
.planet .container .content-planet .top-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
.planet .container .content-planet .top-content .value .number + span {
  margin-left: .5em;
}
.planet .container .content-planet .top-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
.planet .container .content-planet .top-content .value.uppercase .number {
  font-size: 1.615em;
}
.planet .container .content-planet .bottom-content {
  padding-top: 2em;
}
.planet .container .content-planet .bottom-content .bottom-content-block {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 0.625em;
  padding-right: 0.625em;
  text-align: center;
}
.planet .container .content-planet .bottom-content .bottom-content-block .graph {
  display: inline-block;
  width: 100%;
}
.planet .container .content-planet .bottom-content .bottom-content-block p:first-child {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .calendar svg {
  margin-top: 1.25em;
}
.planet .container .content-planet .bottom-content .calendar p:first-of-type {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .area svg {
  margin-top: 1.5em;
}
.planet .container .content-planet .bottom-content .area p:first-of-type {
  margin-top: 2em;
}
.planet .container .content-planet .bottom-content .weather svg {
  margin-top: -1.8em;
}
.planet .container .content-planet .bottom-content .weather text {
  fill: #FFF;
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
}
.planet .container .content-planet .bottom-content .weather p:first-of-type {
  padding-top: 1.5em;
  padding-bottom: 0.3em;
}
.planet .container .content-planet .bottom-content .weather p.third-type {
  margin-top: 0;
}
.planet .container .content-planet .bottom-content p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
  padding-top: 0.5em;
  text-align: center;
}
.planet .container .content-planet .bottom-content .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
.planet .container .content-planet .bottom-content .value .number + span {
  margin-left: .5em;
}
.planet .container .content-planet .bottom-content .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
.planet .container .content-planet .bottom-content .value.uppercase .number {
  font-size: 1.615em;
}
.planet .right_sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15em;
}
.planet .right_sidebar ul {
  padding: 2.500em 0.938em;
  background: #19262c;
}
.planet .right_sidebar ul li {
  position: relative;
  display: block;
  margin: 0.719em 0;
}
.planet .right_sidebar ul li a {
  display: block;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.planet .right_sidebar ul li a.icon {
  width: 2.313em;
  height: 2.313em;
}
.planet .right_sidebar ul li a.name {
  position: absolute;
  right: 6.5em;
  line-height: 4.02600em;
  height: 3.82600em;
  vertical-align: middle;
  font-size: 0.625em;
  text-align: right;
  width: 5em;
}
@media screen and (max-width: 1200px) {
  .planet .right_sidebar ul li a.name {
    display: none;
  }
}
.planet .right_sidebar ul li:hover a {
  color: #8f8f8f;
}
.planet .right_sidebar ul li.mercury .icon {
  background-image: url('../images/planets/mercury.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.venus .icon {
  background-image: url('../images/planets/venus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.earth .icon {
  background-image: url('../images/planets/earth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.mars .icon {
  background-image: url('../images/planets/mars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.jupiter .icon {
  background-image: url('../images/planets/jupiter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.saturn .icon {
  background-image: url('../images/planets/saturn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.uranus .icon {
  background-image: url('../images/planets/uranus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.neptune .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.planet .right_sidebar ul li.compare .icon {
  background-image: url('../images/planets/compare.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#main > section.planet > div.container > header > h2 {
  font-size: 2.4em;
}

.fb_iframe_widget {
  bottom: 2px;
}

.landing_page {
  font-family: 'PlutoSansCondRegular', Arial, sans-serif;
  background-color: #0B1B24;
}
.landing_page .about {
  display: block;
  width: 1.875em;
  height: 1.875em;
  background: url("../images/icons/info.png") no-repeat;
  position: absolute;
  top: 1.875em;
  right: 1.875em;
  z-index: 6;
}
.landing_page video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -640px;
  margin-top: -360px;
}
.landing_page #lang, .landing_page footer, .landing_page .about {
  display: none;
}
.landing_page #lang {
  width: 350px;
  height: 130px;
  position: absolute;
  top: 85%;
  left: 50%;
  margin-left: -175px;
  margin-top: -65px;
  text-transform: uppercase;
}
.landing_page #lang p {
  font-size: 1.375em;
  padding: 0;
  margin: 20px auto 10px auto;
}
.landing_page #lang-choice {
  margin: 0 auto;
  width: 150px;
}
.landing_page #lang a {
  display: inline-block;
  border: 2px solid #FFF;
  color: #FFF;
  font-size: 1.188em;
  text-decoration: none;
  margin: 11px;
}
.landing_page #lang a:nth-of-type(1) {
  padding: 12px 10px;
}
.landing_page #lang a:nth-of-type(2) {
  padding: 12px 9px;
}
.landing_page #lang a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.landing_page footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
.landing_page .twitter-share-button {
  margin-left: 20px;
}
.landing_page #social_media a {
  display: inline-block;
  margin: 0px 4px 0px 4px;
  width: 30px;
  height: 30px;
  background-size: 100% 100%;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
}
.landing_page .twitter {
  background: url("../images/twitter_icon.svg") no-repeat;
}
.landing_page .contact {
  background: url("../images/contact_icon.svg") no-repeat;
}
.landing_page .twitter:hover, .landing_page .contact:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.landing_page #social_media {
  position: absolute;
  bottom: 20px;
  right: 16px;
  height: 30px;
}

/* Retina */
/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@-moz-keyframes glitter {
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@-o-keyframes glitter {
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@keyframes glitter {
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

/**********Keyframes de rotation planètes**************/
/***EARTH*****/
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(54px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(54px) rotate(-360deg);
  }
}

@-moz-keyframes orbit {
  from {
    -moz-transform: rotate(0deg) translateX(54px) rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg) translateX(54px) rotate(-360deg);
  }
}

@-o-keyframes orbit {
  from {
    -o-transform: rotate(0deg) translateX(54px) rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg) translateX(54px) rotate(-360deg);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(54px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(54px) rotate(-360deg);
  }
}

/***MERCURY*****/
@-webkit-keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

@-moz-keyframes orbit2 {
  from {
    -moz-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

@-o-keyframes orbit2 {
  from {
    -o-transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(30px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(30px) rotate(-360deg);
  }
}

/***VENUS****/
@-webkit-keyframes orbit3 {
  from {
    -webkit-transform: rotate(0deg) translateX(42px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(42px) rotate(-360deg);
  }
}

@-moz-keyframes orbit3 {
  from {
    -moz-transform: rotate(0deg) translateX(42px) rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg) translateX(42px) rotate(-360deg);
  }
}

@-o-keyframes orbit3 {
  from {
    -o-transform: rotate(0deg) translateX(42px) rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg) translateX(42px) rotate(-360deg);
  }
}

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translateX(42px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(42px) rotate(-360deg);
  }
}

/***MARS****/
@-webkit-keyframes orbit4 {
  from {
    -webkit-transform: rotate(0deg) translateX(68px) rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg) translateX(68px) rotate(-360deg);
  }
}

@-moz-keyframes orbit4 {
  from {
    -moz-transform: rotate(0deg) translateX(68px) rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg) translateX(68px) rotate(-360deg);
  }
}

@-o-keyframes orbit4 {
  from {
    -o-transform: rotate(0deg) translateX(68px) rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg) translateX(68px) rotate(-360deg);
  }
}

@keyframes orbit4 {
  from {
    transform: rotate(0deg) translateX(68px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(68px) rotate(-360deg);
  }
}

@keyframes bobbingAnim {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }

  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes bobbingAnim {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(-30deg) scale(1);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform: translate(-240px, -240px) rotate(2deg) scale(0);
    -webkit-animation-timing-function: ease-in-out;
  }
}
