/* Imports */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MohaveRegular';
  src: url("../fonts/Mohave_regular/mohave.eot");
  src: url("../fonts/Mohave_regular/mohave.eot") format("embedded-opentype"), url("../fonts/Mohave_regular/mohave.woff") format("woff"), url("../fonts/Mohave_regular/mohave.ttf") format("truetype"), url("../fonts/Mohave_regular/mohave.svg#MohaveRegular") format("svg");
}

@font-face {
  font-family: 'MohaveBold';
  src: url("../fonts/Mohave_bold/mohave-bold.eot");
  src: url("../fonts/Mohave_bold/mohave-bold.eot") format("embedded-opentype"), url("../fonts/Mohave_bold/mohave-bold.woff") format("woff"), url("../fonts/Mohave_bold/mohave-bold.ttf") format("truetype"), url("../fonts/Mohave_bold/mohave-bold.svg#MohaveBold") format("svg");
}

@font-face {
  font-family: 'PacificoRegular';
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot");
  src: url("../fonts/Pacifico_regular/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Pacifico_regular/pacifico-webfont.woff") format("woff"), url("../fonts/Pacifico_regular/pacifico-webfont.ttf") format("truetype"), url("../fonts/Pacifico_regular/pacifico-webfont.svg#pacificoregular") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondMedium';
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot");
  src: url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.woff") format("woff"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.ttf") format("truetype"), url("../fonts/PlutoSans_cond_medium/plutosanscondmedium.svg#PlutoSansCondMedium") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondLight';
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot");
  src: url("../fonts/PlutoSans_cond_light/plutosanscondlight.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.woff") format("woff"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.ttf") format("truetype"), url("../fonts/PlutoSans_cond_light/plutosanscondlight.svg#PlutoSansCondLight") format("svg");
}

@font-face {
  font-family: 'PlutoSansCondBold';
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot");
  src: url("../fonts/PlutoSans_cond_bold/plutosanscondbold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.woff") format("woff"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.ttf") format("truetype"), url("../fonts/PlutoSans_cond_bold/plutosanscondbold.svg#PlutoSansCondLight") format("svg");
}

/* Mixins */
/* Variables */
/* Styles */
/* line 20, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 23, ../sass/style.scss */
html {
  height: 100%;
}
/* line 25, ../sass/style.scss */
html body {
  height: 100%;
  color: white;
  background-image: url('../images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 29, ../sass/style.scss */
html body #main {
  height: 100%;
  overflow: hidden;
}
/* line 32, ../sass/style.scss */
html body #main .landing_page {
  height: 100%;
  background-image: url('../images/background_landing.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
/* line 35, ../sass/style.scss */
html body #main .landing_page h2 {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  width: 100%;
  line-height: 100%;
  text-align: center;
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 4em;
}
/* line 44, ../sass/style.scss */
html body #main .landing_page h2 span {
  font-family: 'MohaveBold', Arial, sans-serif;
}
/* line 48, ../sass/style.scss */
html body #main .landing_page .solar_system {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 195px;
  margin-top: 312px;
  padding-top: 2em;
  background-image: url('../images/solarsystem-location-arrow.png');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto auto;
}
/* line 56, ../sass/style.scss */
html body #main .landing_page .solar_system span {
  float: left;
  width: .65em;
  height: .65em;
  margin-top: 1em;
  border-radius: 50%;
  background: #FFF;
  cursor: pointer;
  animation: glitter 1.5s linear 0s infinite normal;
  -webkit-animation: glitter 1.5s linear 0s infinite normal;
  -moz-animation: glitter 1.5s linear 0s infinite normal;
  -ms-animation: glitter 1.5s linear 0s infinite normal;
  -o-animation: glitter 1.5s linear 0s infinite normal;
}
/* line 70, ../sass/style.scss */
html body #main .landing_page .solar_system p {
  float: right;
  margin-left: 4.5em;
  font-family: 'PacificoRegular', Arial, sans-serif;
  font-size: 14px;
}
/* line 79, ../sass/style.scss */
html body #main .solar_system h2, html body #main .solar_system h3 {
  width: 100%;
  text-align: center;
  font-family: 'PlutoSansCondMedium', Arial, sans-serif;
}
/* line 84, ../sass/style.scss */
html body #main .solar_system h2 {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: 4em;
}
/* line 89, ../sass/style.scss */
html body #main .solar_system h3 {
  margin-top: .2em;
  font-size: 1.125em;
}
/* line 94, ../sass/style.scss */
html body #main .solar_system .solar_system_orbits svg {
  display: block;
  margin: 1em auto 0 auto;
}
/* line 99, ../sass/style.scss */
html body #main .solar_system .left_sidebar {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10.688em;
  padding-left: 1.5em;
}
/* line 105, ../sass/style.scss */
html body #main .solar_system .left_sidebar div + div {
  border-top: 2px solid #FFF;
}
/* line 108, ../sass/style.scss */
html body #main .solar_system .left_sidebar p {
  font-family: 'PlutoSansCondLight', Arial, sans-serif;
  font-size: 0.875em;
  color: #FFF;
}
/* line 113, ../sass/style.scss */
html body #main .solar_system .left_sidebar .blue span {
  color: #addee0;
}
/* line 116, ../sass/style.scss */
html body #main .solar_system .left_sidebar .value {
  margin: .650em 0;
}
/* line 118, ../sass/style.scss */
html body #main .solar_system .left_sidebar .value .number {
  font-family: 'MohaveBold', Arial, sans-serif;
  font-size: 2.625em;
  letter-spacing: .05em;
}
/* line 123, ../sass/style.scss */
html body #main .solar_system .left_sidebar .value .number + span {
  margin-left: .5em;
}
/* line 127, ../sass/style.scss */
html body #main .solar_system .left_sidebar .value.uppercase {
  font-family: 'MohaveRegular', Arial, sans-serif;
  font-size: 1.625em;
}
/* line 130, ../sass/style.scss */
html body #main .solar_system .left_sidebar .value.uppercase .number {
  font-size: 1.615em;
}
/* line 134, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules {
  margin: 1.25em 0;
}
/* line 136, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules li {
  display: inline-block;
  margin-right: .5em;
}
/* line 139, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules li a {
  display: block;
  width: 2.313em;
  height: 2.313em;
}
/* line 144, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules li .spacecraft {
  background-image: url('../images/icons/spacecraft.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 147, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules li .aircraft {
  background-image: url('../images/icons/aircraft.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 150, ../sass/style.scss */
html body #main .solar_system .left_sidebar ul.vehicules li .paper-plane {
  background-image: url('../images/icons/paper-plane.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 156, ../sass/style.scss */
html body #main .solar_system .right_sidebar {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15em;
}
/* line 161, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul {
  padding: 2.500em 0.938em;
  background: #19262c;
}
/* line 164, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li {
  position: relative;
  display: block;
  margin: 0.719em 0;
}
/* line 168, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li a {
  display: block;
  color: #FFF;
  font-family: 'PlutoSansCondBold', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 175, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li a.icon {
  width: 2.313em;
  height: 2.313em;
}
/* line 179, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li a.name {
  position: absolute;
  right: 6.5em;
  line-height: 4.02600em;
  height: 3.82600em;
  vertical-align: middle;
  font-size: 0.625em;
  text-align: right;
}
/* line 190, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.mercury .icon {
  background-image: url('../images/planets/mercury.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 195, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.venus .icon {
  background-image: url('../images/planets/venus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 200, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.earth .icon {
  background-image: url('../images/planets/earth.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 205, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.mars .icon {
  background-image: url('../images/planets/mars.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 210, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.jupiter .icon {
  background-image: url('../images/planets/jupiter.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 215, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.saturn .icon {
  background-image: url('../images/planets/saturn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 220, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.uranus .icon {
  background-image: url('../images/planets/uranus.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 225, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.neptune .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 230, ../sass/style.scss */
html body #main .solar_system .right_sidebar ul li.compare .icon {
  background-image: url('../images/planets/neptune.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*CSS3 keyframes for glittering effect*/
@-webkit-keyframes glitter {
  /* line 243, ../sass/style.scss */
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  /* line 244, ../sass/style.scss */
  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  /* line 245, ../sass/style.scss */
  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@-moz-keyframes glitter {
  /* line 248, ../sass/style.scss */
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  /* line 249, ../sass/style.scss */
  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  /* line 250, ../sass/style.scss */
  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@-o-keyframes glitter {
  /* line 253, ../sass/style.scss */
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  /* line 254, ../sass/style.scss */
  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  /* line 255, ../sass/style.scss */
  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}

@keyframes glitter {
  /* line 258, ../sass/style.scss */
  0% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }

  /* line 259, ../sass/style.scss */
  50% {
    -webkit-box-shadow: 0px 0px 15px 5px #ffffff;
    opacity: 0.95;
  }

  /* line 260, ../sass/style.scss */
  100% {
    -webkit-box-shadow: 0px 0px 15px 1px #ffffff;
    opacity: 0.8;
  }
}
