<section class="distances_graph">
	<h2><%= translations.views.distances_graph.welcome_title %></h2>
	<h3><%= translations.views.distances_graph.welcome_subtitle %></h3>
	<div class="legend">
		<p>1 U.A = </p>
		<img src="assets/images/planets/sun.svg" class="sun" />
		<span class="arrow"></span>
		<img src="assets/images/planets/earth.svg" class="earth" />
		<p><%= translations.views.global.or %> 150 000 000 km</p>
	</div>
	<div class="distances_comparison">
		<div class="svg"></div>	
	</div>
	<div class="planet_infos">
		<p><span class="planet_name"><%= distances_graph.planet.name %></span> <%= translations.views.global.is %> <span class="ua_distance"><%= distances_graph.planet.solar_distance.ua %> U.A</span> <%= translations.views.global.from_us %>, <%= translations.views.global.or %></p>
		<p><span class='km_distance'><%= distances_graph.planet.solar_distance.km %></span> km away from us</p>
	</div>
</section>