<section class="landing_page">
	<div class="csswinner"><a href="http://www.csswinner.com/details/we-are-tiny/7522/" target="_blank">We Are Tiny</a></div>
	<div id="fb-root"></div>
	<a href="#about" class="about"></a>
	
	<video width="1280" height="720" preload="auto">
	  <source src="assets/video/wearetiny_logo.webm" type="video/webm" />
	  <source src="assets/video/wearetiny_logo.mp4" type="video/mp4" />
	  <source src="assets/video/wearetiny_logo.ogv" type="video/ogg" />
	  Oops, it seems that the video cannot load from Earth !
	</video>
	
	<section id="lang">
		<p>Explore the solar system</p>
		<div id="lang-choice">
			<a href="#solar-system" data-lang="fr">FR</a>
			<a href="#solar-system" data-lang="en">EN</a>
		</div>
	</section>
	
	<footer>
		<a href="https://twitter.com/share" class="twitter-share-button" data-via="_wearetiny" data-dnt="true">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		<script>
			(function(d, s, id) {
		        var js, fjs = d.getElementsByTagName(s)[0];
		        if (d.getElementById(id)) return;
		        js = d.createElement(s); js.id = id;
		        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&appId=310613592396790&version=v2.0";
		        fjs.parentNode.insertBefore(js, fjs);
	      	}(document, 'script', 'facebook-jssdk'));
		</script>
		<div class="fb-like" data-href="http://wearetiny.io" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		
		<div id="social_media">
			<a class="twitter" target="_blank" href="https://twitter.com/_wearetiny"></a>
			<a class="contact" target="_blank" href="mailto:contact@wearetiny.io"></a>
		</div>
		
	</footer>
	
</section>