<section class="solar_system">
	<header>
		<h2><%= translations.views.solar_system.title %></h2>
		<h3><%= translations.views.solar_system.subtitle %></h3>
	</header>
	<div class="solar_system_orbits">
		<div class="planet_infos">
			<p class="planet_name"></p>
			<p class="rotation_speed"><%= translations.views.solar_system.planet_infos_title %></p>
			<p class="rotation_speed_value"><span></span> km/s</p>
			<p class="rotation_speed_duration"><span></span> <%= translations.views.global.days %></p>
		</div>
	</div>
	<div class="left_sidebar">
		<div class="transportation">
			<p class="text"><%= translations.views.solar_system.leave_time_top_sentence %></p>
			<p class="value blue uppercase duration"><span class='number'><%= functions.formatNumber(transportation.duration, translations.views.global.number_separator) %></span> <%= translations.views.global.months %></p>
			<p class="text blue vehicule"><%= translations.views.solar_system.leave_time_bottom_sentence.replace('[spacecraft]', translations.spaceships[transportation.id].name) %></p>
			<ul class="vehicules">
				<li><input type="radio" name="transportation" value="SpaceShipTwo" id="v_spacecraft1" <%= (transportation.id=="SpaceShipTwo") ? "checked" : "" %>><label for="v_spacecraft1"></label></li>
				<li><input type="radio" name="transportation" value="Voyager2" id="v_spacecraft2" <%= (transportation.id=="Voyager2") ? "checked" : "" %>>
				<label for="v_spacecraft2"></label></li>
				<li><input type="radio" name="transportation" value="SolarProbePlus" id="v_spacecraft3" <%= (transportation.id=="SolarProbePlus") ? "checked" : "" %>>
				<label for="v_spacecraft3"></label></li>
			</ul>
		</div>
		<div>
			<p class="value uppercase"><span class='number'><%= functions.formatNumber(earth_to_end_univers, translations.views.global.number_separator) %></span> km</p>
			<p class="text"><%= translations.views.solar_system.leave_distance_sentence %></p>
			<p class="value blue"><%= functions.formatNumber(translations.views.solar_system.leave_distance_flights_value, translations.views.global.number_separator) %></p>
		</div>
	</div>
	<div class="right_sidebar">
		<ul>
			<li class="mercury"><a href="#solar-system/mercury" class="name"><%= translations.views.planets.mercury.planet_name %></a><a href="#solar-system/mercury" class="icon"></a></li>
			<li class="venus"><a href="#solar-system/venus" class="name"><%= translations.views.planets.venus.planet_name %></a><a href="#solar-system/venus" class="icon"></a></li>
			<li class="earth"><a href="#solar-system/earth" class="name"><%= translations.views.planets.earth.planet_name %></a><a href="#solar-system/earth" class="icon"></a></li>
			<li class="mars"><a href="#solar-system/mars" class="name"><%= translations.views.planets.mars.planet_name %></a><a href="#solar-system/mars" class="icon"></a></li>
			<li class="jupiter"><a href="#solar-system/jupiter" class="name"><%= translations.views.planets.jupiter.planet_name %></a><a href="#solar-system/jupiter" class="icon"></a></li>
			<li class="saturn"><a href="#solar-system/saturn" class="name"><%= translations.views.planets.saturn.planet_name %></a><a href="#solar-system/saturn" class="icon"></a></li>
			<li class="uranus"><a href="#solar-system/uranus" class="name"><%= translations.views.planets.uranus.planet_name %></a><a href="#solar-system/uranus" class="icon"></a></li>
			<li class="neptune"><a href="#solar-system/neptune" class="name"><%= translations.views.planets.neptune.planet_name %></a><a href="#solar-system/neptune" class="icon"></a></li>
			<li class="compare"><a href="#solar-system/compare" class="name"><%= translations.views.solar_system.compare %></a><a href="#solar-system/compare" class="icon"></a></li>
		</ul>
	</div>
	<footer>
		<div class="distance_scales">
			<div>
				<p><%= translations.views.solar_system.real_distance %></p>
				<a href="#solar-system/distances"></a>
			</div>
			<div class="svg"></div>	
		</div>
	</footer>
</section>
<section class="boarding_pass">
	<p class="instructions"><%= translations.views.solar_system.boarding_pass.instructions %></p>
	<div class="modal">
		<form class="content">
			<p><%= translations.views.solar_system.boarding_pass.title %></p>
			<p class="label">
				<span><%= translations.views.solar_system.boarding_pass.boarding_code_prefix %></span>
				<span class="icon"></span>
				<span class="planet_code"></span>
			</p>
			<div class="infos">
				<div class="age">
					<p class="title"><%= translations.views.global.age %></p>
					<input type="text" name="age" placeholder="34">
					<p class="unit"><%= translations.views.solar_system.boarding_pass.y_o %></p>
				</div>
				<div class="weight">
					<p class="title"><%= translations.views.global.weight %></p>
					<input type="text" name="weight" placeholder="65">
					<p class="unit">kg</p>
				</div>
			</div>
			<div class="transportation">
				<input type="radio" name="transportation" value="SpaceShipTwo" id="t_spacecraft1" <%= (transportation.id=="SpaceShipTwo") ? "checked" : "" %>>
				<label for="t_spacecraft1"></label>
				<input type="radio" name="transportation" value="Voyager2" id="t_spacecraft2" <%= (transportation.id=="Voyager2") ? "checked" : "" %>>
				<label for="t_spacecraft2"></label>
				<input type="radio" name="transportation" value="SolarProbePlus" id="t_spacecraft3" <%= (transportation.id=="SolarProbePlus") ? "checked" : "" %>>
				<label for="t_spacecraft3"></label>
			</div>
			<input type="submit" value="<%= translations.views.solar_system.boarding_pass.travel %>">
			<div class="barcode"></div>
		</form>
	</div>
</section>