<section class="solar_system">
	<header>
		<h2><%= translations.views.solar_system.title %></h2>
		<h3><%= translations.views.solar_system.subtitle %></h3>
	</header>
	<div class="solar_system_orbits"></div>
	<div class="left_sidebar">
		<div>
			<p class="text"><%= translations.views.solar_system.leave_time_top_sentence %></p>
			<p class="value blue uppercase"><%= functions.formatNumber(translations.views.solar_system.leave_time_value, translations.views.global.number_separator) %></p>
			<p class="text blue"><%= translations.views.solar_system.leave_time_bottom_sentence %></p>
			<ul class="vehicules">
				<li><a href="" class="spacecraft"></a></li>
				<li><a href="" class="aircraft"></a></li>
				<li><a href="" class="paper-plane"></a></li>
			</ul>
		</div>
		<div>
			<p class="value uppercase"><%= functions.formatNumber(translations.views.solar_system.leave_distance_value, translations.views.global.number_separator) %></p>
			<p class="text"><%= translations.views.solar_system.leave_distance_sentence %></p>
			<p class="value blue"><%= functions.formatNumber(translations.views.solar_system.leave_distance_flights_value, translations.views.global.number_separator) %></p>
		</div>
	</div>
	<div class="right_sidebar">
		<ul>
			<li class="mercury"><a href="#solar-system/mercury" class="name"><%= translations.views.planets.mercury.planet_name %></a><a href="#solar-system/mercury" class="icon"></a></li>
			<li class="venus"><a href="#solar-system/venus" class="name"><%= translations.views.planets.venus.planet_name %></a><a href="#solar-system/venus" class="icon"></a></li>
			<li class="earth"><a href="#solar-system/earth" class="name"><%= translations.views.planets.earth.planet_name %></a><a href="#solar-system/earth" class="icon"></a></li>
			<li class="mars"><a href="#solar-system/mars" class="name"><%= translations.views.planets.mars.planet_name %></a><a href="#solar-system/mars" class="icon"></a></li>
			<li class="jupiter"><a href="#solar-system/jupiter" class="name"><%= translations.views.planets.jupiter.planet_name %></a><a href="#solar-system/jupiter" class="icon"></a></li>
			<li class="saturn"><a href="#solar-system/saturn" class="name"><%= translations.views.planets.saturn.planet_name %></a><a href="#solar-system/saturn" class="icon"></a></li>
			<li class="uranus"><a href="#solar-system/uranus" class="name"><%= translations.views.planets.uranus.planet_name %></a><a href="#solar-system/uranus" class="icon"></a></li>
			<li class="neptune"><a href="#solar-system/neptune" class="name"><%= translations.views.planets.neptune.planet_name %></a><a href="#solar-system/neptune" class="icon"></a></li>
			<li class="compare"><a href="#solar-system/compare" class="name"><%= translations.views.solar_system.compare %></a><a href="#solar-system/compare" class="icon"></a></li>
		</ul>
	</div>
	<footer>
		<div class="distance_scales">
			<div>
				<p><%= translations.views.solar_system.real_distance %></p>
				<a href="#solar-system/distances"></a>
			</div>
			<div class="svg"></div>	
		</div>
	</footer>
</section>
<section class="boarding_pass">
	<div class="modal">
		<div class="content">
			<p><%= translations.views.solar_system.boarding_pass.title %></p>
			<p class="label">
				<span><%= translations.views.solar_system.boarding_pass.boarding_code_prefix %></span>
				<span class="icon"></span>
				<span class="planet_code"></span>
			</p>
			<div class="infos">
				<div class="age">
					<p class="title"><%= translations.views.global.age %></p>
					<input type="text" name="age" placeholder="34">
					<p class="unit"><%= translations.views.solar_system.boarding_pass.y_o %></p>
				</div>
				<div class="weight">
					<p class="title"><%= translations.views.global.weight %></p>
					<input type="text" name="weight" placeholder="65">
					<p class="unit">kg</p>
				</div>
			</div>
			<div class="transportation">
				<input type="radio" name="transportation" value="SpaceShipTwo" id="aircraft">
				<label for="aircraft"></label>
				<input type="radio" name="transportation" value="Voyager2" id="spacecraft" checked>
				<label for="spacecraft"></label>
				<input type="radio" name="transportation" value="SolarProbePlus" id="paper-plane">
				<label for="paper-plane"></label>
			</div>
			<a href="" id="travel"><%= translations.views.solar_system.boarding_pass.travel %></a>
			<div class="barcode"></div>
		</div>
	</div>
</section>
<section class="loader on">
	<div>
		<div class="sun"></div>
		<div class="earth"></div>
		<div class="mercury"></div>
		<div class="venus"></div>
		<div class="mars"></div>
	</div>
	<p><%= translations.views.global.loading %></p>
</section>