<section class="solar_system">
	<h2><%= translations.views.solar_system.welcome_title %></h2>
	<h3><%= translations.views.solar_system.welcome_subtitle %></h3>
	<div class="solar_system_orbits"></div>
	<div class="left_sidebar">
		<div>
			<p class="text"><%= translations.views.solar_system.leave_time_top_sentence %></p>
			<p class="value blue uppercase"><%= translations.views.solar_system.leave_time_value %></p>
			<p class="text blue"><%= translations.views.solar_system.leave_time_bottom_sentence %></p>
			<ul class="vehicules">
				<li><a href="" class="spacecraft"></a></li>
				<li><a href="" class="aircraft"></a></li>
				<li><a href="" class="paper-plane"></a></li>
			</ul>
		</div>
		<div>
			<p class="value uppercase"><%= translations.views.solar_system.leave_distance_value %></p>
			<p class="text"><%= translations.views.solar_system.leave_distance_sentence %></p>
			<p class="value blue"><%= translations.views.solar_system.leave_distance_flights_value %></p>
		</div>
	</div>
	<div class="right_sidebar">
		
	</div>
</div>